<h1>Start of test: striped should have selected state</h1>
<div role="listbox" aria-disabled="true">
  <div aria-selected="false" aria-disabled="true" role="option" tabindex="-1">Orange</div>
  <div aria-selected="true" aria-disabled="true" role="option" tabindex="-1">Striped</div>
  <div aria-selected="false" aria-disabled="true" role="option" tabindex="-1">Calico</div>
  <div aria-selected="false" aria-disabled="true" role="option" tabindex="-1">Black</div>
</div>
<p>End of test</p>
