/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#voice-match-animation {
  height: 170px;
}

#ready-img {
  height: 288px;
}

@media screen and (max-height: 736px) {
  #voice-match-animation {
    height: 150px;
  }
}

#loading-animation {
  margin: 80px auto;
  width: 100px;
}

#loading-spinner {
  height: 100px;
  width: 100px;
}
