/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

a {
  color: var(--google-blue-600);
  font-weight: 400;
  text-decoration: none;
}

oobe-dialog {
  height: 100%;
}

cr-dialog::part(dialog)  {
  max-width: 640px;
  min-width: 512px;
  width: calc(100% - var(--oobe-dialog-content-padding) * 2);
}

oobe-adaptive-dialog {
  --oobe-dialog-header-padding-top: calc(var(--oobe-dialog-content-padding) -
           var(--caption-bar-height));
}

oobe-adaptive-dialog,
oobe-content-dialog {
  --oobe-adaptive-dialog-back-button-vertical-padding:
      calc(var(--oobe-adaptive-dialog-buttons-vertical-padding) -
          var(--caption-bar-height) / 2);
}

webview {
  user-select: none;
}

.line {
  background-color: rgb(218, 220, 224);
  height: 1px;
  margin: 8px 0 8px 0;
}

.content {
  color: var(--google-grey-700);
  font: 13px Roboto, sans-serif;
  line-height: 16px;
}

#next-button {
  margin-inline-end: 0;
}

:host-context(html:not([new-layout])) .animation-container {
  display: none;
}

:host-context([new-layout]) .animation-container {
  height: 220px;
}

@media screen and (max-height: 1040px) {
  :host-context([orientation=vertical][screen=oobe]) .animation-container,
  :host-context([orientation=vertical][screen=oobe])
      #animation-container-vertical-mode {
    display: none;
  }

  :host-context([orientation=vertical][screen=oobe])
      oobe-adaptive-dialog {
    --oobe-adaptive-dialog-content-top-padding:
        var(--oobe-adaptive-dialog-header-top-padding);
  }
}

@media screen and (max-height: 825px) {
  :host-context([orientation=vertical]:not([screen=oobe]))
      .animation-container,
  :host-context([orientation=vertical]:not([screen=oobe]))
      #animation-container-vertical-mode {
    display: none;
  }

  :host-context([orientation=vertical]:not([screen=oobe]))
      oobe-adaptive-dialog {
    --oobe-adaptive-dialog-content-top-padding:
        var(--oobe-adaptive-dialog-header-top-padding);
  }
}
