/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#animation-container-horizontal-mode,
#animation-container-vertical-mode {
  display: none;
}

:host-context([orientation=horizontal]) #animation-container-horizontal-mode,
:host-context([orientation=vertical]) #animation-container-vertical-mode {
  display: block;
}

:host-context([orientation=vertical]) oobe-adaptive-dialog {
  --oobe-adaptive-dialog-content-top-padding: 0;
}

#animation-container-horizontal-mode {
  transform: translateX(-20px);
}

#intro-title-text {
  color: var(--oobe-header-text-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  padding-bottom: 8px;
}

#intro-text {
  padding: 0 8px 16px 0;
}

#footer-text {
  padding-top: 16px;
}

#overlay-text {
  box-sizing: border-box;
  font-size: 13px;
  margin: auto;
  min-height: 200px;
  padding: 16px;
  width: 100%;
}

#overlay-title-text {
  font-size: 15px;
}

#overlay-additional-info-text {
  color: rgb(128, 134, 139);
  line-height: 20px;
  padding-top: 20px;
}

#overlay-close-button {
  margin-inline-end: 0;
}

oobe-text-button[disabled] {
  pointer-events: none;
}

oobe-adaptive-dialog {
  --oobe-dialog-content-padding-top: 0;
}

#user-name {
  color: #757575;
  padding-inline-start: 8px;
}

#user-image {
  border-radius: 50%;
  height: 20px;
}

#value-prop-view-old {
  display: block;
  height: 232px;
  margin: auto;
  transform: translateX(-10px);
}

:host-context(html:not([new-layout])) #consents-container {
  padding-inline-start: 24px;
}

#column-container {
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  #column-container {
    flex-direction: row;
  }

  #value-prop-container {
    align-items: center;
    border-inline-end: 1px solid var(--google-grey-300);
    width: 50%;
  }

  :host-context(html:not([new-layout])) #consents-container {
    width: 50%;
  }
}
