<!-- Copyright 2020 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="/components/hd_iron_icon.html">
<link rel="import" href="/components/oobe_i18n_behavior.html">
<link rel="import" href="/components/oobe_adaptive_dialog.html">
<link rel="import" href="/components/oobe_dialog_host_behavior.html">

<dom-module id="assistant-related-info">
<template>
  <style include="oobe-dialog-host">
    #intro-text {
      padding-bottom: 16px;
    }

    #relatedInfoImg {
      height: 288px;
    }

    :host-context(html:not([new-layout])) #relatedInfoImg {
      height: 240px;
    }

    @media screen and (max-height: 736px) {
      :host-context(html:not([new-layout])) #relatedInfoImg {
        height: 200px;
      }
    }

    :host-context([orientation=landscape]).animation-container {
      transform: translateX(-20px);
    }

    :host-context([orientation=vertical]) oobe-adaptive-dialog {
      --oobe-adaptive-dialog-content-top-padding: 20px;
    }
  </style>
  <link rel="stylesheet" href="assistant_shared_styles.css">
  <oobe-adaptive-dialog id="relatedInfoDialog" role="dialog" hide-shadow
      aria-label$="[[i18nDynamic(locale, titleKey_)]]">
    <hd-iron-icon slot="icon"
        icon1x="assistant-32:assistant" icon2x="assistant-64:assistant"
        aria-label$="[[i18nDynamic(locale, 'assistantLogo')]]">
    </hd-iron-icon>
    <h1 slot="title">
      [[i18nDynamic(locale, titleKey_)]]
    </h1>
    <div slot="subtitle" hidden$="[[skipActivityControl_]]"
        inner-h-t-m-l="[[i18nAdvanced('assistantRelatedInfoMessage')]]"></div>
    <div slot="subtitle" class="animation-container"
        hidden$="[[!skipActivityControl_]]">
      <webview id="assistant-animation-webview" tabindex="-1"></webview>
    </div>
    <div slot="content" class="flex layout vertical center center-justified"
        hidden$="[[skipActivityControl_]]">
      <img id="relatedInfoImg" class="oobe-illustration" aria-hidden="true"
          srcset="assistant_related_info_1x.svg 1x,
          assistant_related_info_2x.svg 2x">
    </div>
    <div slot="content" id="content-container" class="landscape-header-aligned"
        hidden$="[[!skipActivityControl_]]">
      <div id="intro-text" class="content">
        [[i18nDynamic(locale, 'assistantRelatedInfoReturnedUserMessage')]]
      </div>
      <div class="line"></div>
      <setting-zippy id="zippy">
        <div slot="title" aria-hidden="true">
          [[i18nDynamic(locale, 'assistantScreenContextTitle')]]
        </div>
        <div slot="content" aria-hidden="true">
          [[i18nDynamic(locale, 'assistantScreenContextDesc')]]
        </div>
      </setting-zippy>
    </div>
    <div slot="bottom-buttons" class="layout horizontal end-justified">
      <oobe-text-button id="skip-button" disabled="[[loading]]"
          text-key="[[skipButtonKey_]]" on-click="onSkipTap_">
      </oobe-text-button>
      <oobe-next-button id="next-button" disabled="[[loading]]"
          text-key="[[nextButtonKey_]]" on-click="onNextTap_">
      </oobe-next-button>
    </div>
  </oobe-adaptive-dialog>
</template>
</dom-module>
