<!-- Copyright 2018 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="/components/hd_iron_icon.html">
<link rel="import" href="/components/oobe_i18n_behavior.html">
<link rel="import" href="/components/oobe_adaptive_dialog.html">
<link rel="import" href="/components/oobe_dialog_host_behavior.html">

<dom-module id="assistant-third-party">
  <template>
    <style include="oobe-dialog-host"></style>
    <link rel="stylesheet" href="assistant_shared_styles.css">
    <link rel="stylesheet" href="assistant_third_party.css">
    <oobe-adaptive-dialog id="third-party-dialog" role="dialog" hide-shadow>
      <hd-iron-icon slot="icon"
          icon1x="assistant-32:assistant" icon2x="assistant-64:assistant"
          aria-label$="[[i18nDynamic(locale, 'assistantLogo')]]">
      </hd-iron-icon>
      <h1 slot="title" id="title-text"></h1>
      <div slot="content" class="landscape-header-aligned">
        <div class="line"></div>
        <div id="insertion-point"></div>
        <div class="sub-title" id="footer-text"></div>
      </div>
      <div slot="bottom-buttons">
        <oobe-next-button id="next-button" inverse on-click="onNextTap_"
            disabled="[[buttonsDisabled]]" hidden="[[moreContents]]">
          <div id="next-button-text" slot="text"></div>
        </oobe-next-button>
      </div>
    </oobe-adaptive-dialog>

    <cr-dialog id="third-party-overlay">
      <div slot="body">
        <div id="webview-container" class="layout horizontal">
          <webview id="overlay-webview" class="flex"></webview>
          <div id="overlay-webview-loading" class="flex">
            <p>
              [[i18nDynamic(locale, 'assistantOobePopupOverlayLoading')]]
            </p>
          </div>
        </div>
      </div>
      <div slot="button-container">
        <oobe-text-button inverse id="overlay-close-button"
            text-key="assistantOptinOKButton">
        </oobe-text-button>
      </div>
    </cr-dialog>
  </template>
</dom-module>
