    <style include="cr-shared-style settings-shared">
      .no-min-height {
        min-height: 0;
      }

      img {
        width: 100%;
      }
    </style>
    <picture>
      <source
          srcset="chrome://settings/images/permissions_banner_dark.svg"
          media="(prefers-color-scheme: dark)">
      <img id="banner" alt=""
          src="chrome://settings/images/permissions_banner.svg">
    </picture>
    <div class="cr-row first">
      <h2>$i18n{siteSettingsRecentPermissionsSectionLabel}</h2>
    </div>
    <settings-recent-site-permissions id="recentSitePermissions"
        no-recent-permissions="{{noRecentSitePermissions_}}"
        focus-config="[[focusConfig]]">
    </settings-recent-site-permissions>

    <cr-link-row data-route="SITE_SETTINGS_ALL" id="allSites"
        class$="[[getClassForSiteSettingsAllLink_(noRecentSitePermissions_)]]"
        label="$i18n{siteSettingsAllSitesDescription}"
        on-click="onSiteSettingsAllClick_"
        role-description="$i18n{subpageArrowRoleDescription}"></cr-link-row>
    <div class="cr-row first line-only">
      <h2>$i18n{siteSettingsPermissions}</h2>
    </div>

    <settings-site-settings-list id="basicPermissionsList"
        category-list="[[lists_.permissionsBasic]]"
        focus-config="[[focusConfig]]">
    </settings-site-settings-list>
    <cr-expand-button class="cr-row"
        expanded="{{permissionsExpanded_}}">
      <div>$i18n{siteSettingsPermissionsMore}</div>
    </cr-expand-button>
    <iron-collapse opened="[[permissionsExpanded_]]">
      <settings-site-settings-list id="advancedPermissionsList"
          category-list="[[lists_.permissionsAdvanced]]"
          focus-config="[[focusConfig]]">
      </settings-site-settings-list>
    </iron-collapse>

    <div class="cr-row first line-only">
      <h2>$i18n{siteSettingsContent}</h2>
    </div>
    <settings-site-settings-list id="basicContentList"
        category-list="[[lists_.contentBasic]]"
        focus-config="[[focusConfig]]">
    </settings-site-settings-list>
    <cr-expand-button id="expandContent" class="cr-row"
        expanded="{{contentExpanded_}}">
      <div>$i18n{siteSettingsContentMore}</div>
    </cr-expand-button>
    <iron-collapse opened="[[contentExpanded_]]">
      <settings-site-settings-list id="advancedContentList"
          category-list="[[lists_.contentAdvanced]]"
          focus-config="[[focusConfig]]">
      </settings-site-settings-list>
    </iron-collapse>
