<div id="status">
  <div id="dump">
    <button id="dump-status">Dump status</button>
    <input type="checkbox" id="include-ids">
    Include Identifiers
  </div>
  <div id="import">
    <button id="import-status">Import status</button>
  </div>
  <div id="status-data">
    <textarea rows="10" cols="30" id="status-text"></textarea>
  </div>
</div>

<div id='about-info'>
  <div class="section" jsselect="details">
    <h2 jscontent="title"></h2>
    <table class="about-details">
      <tr jsselect="data"
            jsvalues="class:$this.stat_status"
            jseval='chrome.sync.about_tab.highlightIfChanged(this, this.children[1].innerText, stat_value)'>
        <td class="detail" jscontent="stat_name" width=50%></td>
        <td class="value" jscontent="stat_value" width=50%></td>
      </tr>
    </table>
  </div>

  <div id="request-start-stop-wrapper" jsskip="true">
    <button id="request-start">Request Start</button>
    <button id="request-stop-keep-data">Stop Sync (Keep Data)</button>
    <button id="request-stop-clear-data">Disable Sync (Clear Data)</button>
  </div>

  <div id="traffic-event-container-wrapper" jsskip="true">
    <h2 style="display:inline-block">Sync Protocol Log</h2>
    <input type="checkbox" id="capture-specifics">
    <label for="capture-specifics">Capture Specifics</label>
    <button id="trigger-refresh">Trigger GetUpdates</button>
    <div id="traffic-event-container">
      <div class="traffic-event-entry"
           jsselect="events"
           jseval="chrome.sync.about_tab.addExpandListener(this)">
        <span class="time" jscontent="(new Date(time)).toLocaleString()"></span>
        <span class="type" jscontent="type"></span>
        <pre class="details" jscontent="details"></pre>
        <pre class="proto" jscontent="JSON.stringify(proto, null, 2)"></pre>
      </div>
    </div>
  </div>

  <div class="section" style="overflow-x: auto">
    <h2>Type Info</h2>
    <table id="typeInfo">
      <tr jsselect="type_status" jsvalues="class:$this.status">
        <td jscontent="name" width=30%></td>
        <td jscontent="num_entries" width=10%></td>
        <td jscontent="num_live" width=10%></td>
        <td jscontent="message" width=40%></td>
        <td jscontent="state" width=10%></td>
      </tr>
    </table>
  </div>

  <div class="section" jsdisplay="unrecoverable_error_detected">
    <p>
      <span class="err" jscontent="unrecoverable_error_message"></span>
    </p>
  </div>

  <div class="section" jsdisplay="actionable_error_detected">
    <p>
      <h2>Actionable Error</h2>
      <table id="actionableError">
        <tr jsselect="actionable_error">
          <td jscontent="stat_name"></td>
          <td jscontent="stat_value"></td>
        </tr>
      </table>
    </p>
  </div>
</div>
