<style>
  :host {
    --emoji-background: transparent;

    height: var(--emoji-size);
    width: var(--emoji-size);
  }

  button {
    background: var(--emoji-background);
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: block;
    font-size: 17px;
    height: 100%;
    line-height: var(--emoji-size);
    padding: 0;
    text-align: center;
    width: 100%;
  }
  button:focus,
  button:active {
    --emoji-background: rgba(var(--cr-hairline-rgb), 0.1);
    outline-color: var(--cr-toggle-color);
    outline-width: 2px;
  }
  button:disabled {
    /* chrome makes disabled buttons semitransparent.
     * we set a solid colour here to prevent that
     * (exactly which colour is not important).
     */
    color: red;
    cursor: default;
  }

  .has-variants {
    /* 4px grey triangle in bottom-right.
      * 315 degrees means starting at bottom-right towards top-left.
      */
    background: linear-gradient(
        315deg, var(--google-grey-refresh-500) 4px,
        var(--emoji-background) 4px, var(--emoji-background));
  }
</style>


<button
    id="button"
    class$="[[_className(variants)]]"
    on-click="onClick"
    on-contextmenu="onContextMenu"
    disabled="[[disabled]]"
    aria-label="[[_label(emoji, variants)]]">
  [[emoji]]
</button>
<template is="dom-if" if="[[variantsVisible]]">
  <emoji-variants variants="[[variants]]"></emoji-variants>
</template>
