<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="../ambient_mode_page/ambient_mode_page.html">
<link rel="import" href="../ambient_mode_page/ambient_mode_photos_page.html">
<link rel="import" href="chrome://resources/cr_elements/cr_link_row/cr_link_row.html">
<link rel="import" href="chrome://resources/html/i18n_behavior.html">
<link rel="import" href="change_picture.html">
<link rel="import" href="../deep_linking_behavior.html">
<link rel="import" href="../os_route.html">
<link rel="import" href="../../router.html">
<link rel="import" href="../../i18n_setup.html">
<link rel="import" href="../../settings_page/settings_animated_pages.html">
<link rel="import" href="../../settings_page/settings_subpage.html">
<link rel="import" href="../../settings_shared_css.html">
<link rel="import" href="wallpaper_browser_proxy.html">
<link rel="import" href="wallpaper_subpage.html">

<dom-module id="settings-personalization-page">
  <template>
    <style include="settings-shared"></style>
    <settings-animated-pages id="pages" section="personalization"
        focus-config="[[focusConfig_]]">
      <div route-path="default">
        <cr-link-row id="changePictureRow"
            label="$i18n{changePictureTitle}"
            on-click="navigateToChangePicture_"
            role-description="$i18n{subpageArrowRoleDescription}">
        </cr-link-row>
        <template is="dom-if" if="[[!isWallpaperWebUIEnabled_]]">
          <cr-link-row class="hr" id="wallpaperButton"
              hidden="[[!showWallpaperRow_]]"
              on-click="openWallpaperManager_" label="$i18n{setWallpaper}"
              sub-label="$i18n{openWallpaperApp}"
              disabled="[[isWallpaperPolicyControlled_]]" external
              deep-link-focus-id$="[[Setting.kOpenWallpaper]]">
            <template is="dom-if" if="[[isWallpaperPolicyControlled_]]">
              <cr-policy-indicator id="wallpaperPolicyIndicator"
                  indicator-type="devicePolicy">
              </cr-policy-indicator>
            </template>
          </cr-link-row>
        </template>
        <template is="dom-if" if="[[isWallpaperWebUIEnabled_]]">
          <cr-link-row class="hr" id="wallpaperRow"
              hidden="[[!showWallpaperRow_]]" on-click="navigateToWallpaper_"
              label="$i18n{setWallpaper}"
              role-description="i18n{subpageArrowRoleDescription}">
          </cr-link-row>
        </template>

        <!-- Ambient mode -->
        <template is="dom-if" if="[[isAmbientModeEnabled_]]">
          <cr-link-row
              class="hr"
              id="ambientModeRow"
              label="$i18n{ambientModeTitle}"
              sub-label="[[getAmbientModeRowSubLabel_(
                  prefs.settings.ambient_mode.enabled.value)]]"
              on-click="navigateToAmbientMode_"
              role-description="$i18n{subpageArrowRoleDescription}">
          </cr-link-row>
        </template>
      </div>

      <template is="dom-if" route-path="/changePicture">
        <settings-subpage
          associated-control="[[$$('#changePictureRow')]]"
          page-title="$i18n{changePictureTitle}">
          <settings-change-picture></settings-change-picture>
        </settings-subpage>
      </template>

      <template is="dom-if" if="[[isWallpaperWebUIEnabled_]]">
        <template is="dom-if" route-path="/wallpaper">
          <settings-subpage
              associated-control="[[$$('#wallpaperRow')]]"
              page-title="$i18n{setWallpaper}">
            <settings-wallpaper-page>
            </settings-wallpaper-page>
          </settings-subpage>
        </template>
      </template>

      <template is="dom-if" if="[[isAmbientModeEnabled_]]">
        <template is="dom-if" route-path="/ambientMode">
          <settings-subpage
              associated-control="[[$$('#ambientModeRow')]]"
              page-title="$i18n{ambientModeTitle}">
            <settings-ambient-mode-page prefs="{{prefs}}">
            </settings-ambient-mode-page>
          </settings-subpage>
        </template>

        <template is="dom-if" route-path="/ambientMode/photos">
          <settings-subpage>
            <settings-ambient-mode-photos-page>
            </settings-ambient-mode-photos-page>
          </settings-subpage>
        </template>

      </template>
    </settings-animated-pages>
  </template>
  <script src="personalization_page.js"></script>
</dom-module>
