<iron-iconset-svg name="diagnostics" size="20">
  <svg>
    <defs>
      <g id="cpu" stroke-width="1" fill-rule="evenodd">
        <path d="M9,2 L9,4 L11,4 L11,2 L13,2 L13,4 L14,4 C15.1045695,4 16,4.8954305 16,6 L16,7 L18,7 L18,9 L16,9 L16,11 L18,11 L18,13 L16,13 L16,14 C16,15.1045695 15.1045695,16 14,16 L13,16 L13,18 L11,18 L11,16 L9,16 L9,18 L7,18 L7,16 L6,16 C4.8954305,16 4,15.1045695 4,14 L4,13 L2,13 L2,11 L4,11 L4,9 L2,9 L2,7 L4,7 L4,6 C4,4.8954305 4.8954305,4 6,4 L7,4 L7,2 L9,2 Z M14,6 L6,6 L6,14 L14,14 L14,6 Z M12,8 L12,12 L8,12 L8,8 L12,8 Z" />
    </g>
    <g id="battery-1-7">
      <path d="M14 13.5H6V16H14V13.5Z" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 6H7.5V15H12.5V6ZM13 4.5H12V3H8V4.5H7C6.5 4.5 6 5 6 5.5V16C6 16.5 6.5 17 7 17H13C13.5 17 14 16.5 14 16V5.5C14 5 13.5 4.5 13 4.5Z" />
    </g>
    <g id="battery-8-14">
      <path d="M14 12.5H6V16H14V12.5Z" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 6H7.5V15H12.5V6ZM13 4.5H12V3H8V4.5H7C6.5 4.5 6 5 6 5.5L6 16C6 16.5 6.5 17 7 17H13C13.5 17 14 16.5 14 16V5.5C14 5 13.5 4.5 13 4.5Z" />
    </g>
    <g id="battery-15-21">
      <path d="M14 12H6V16H14V12Z" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 6H7.5V15H12.5V6ZM13 4.5H12V3H8V4.5H7C6.5 4.5 6 5 6 5.5V16C6 16.5 6.5 17 7 17H13C13.5 17 14 16.5 14 16V5.5C14 5 13.5 4.5 13 4.5Z" />
    </g>
    <g id="battery-22-28">
      <path d="M14 11.5H6L6 16H14V11.5Z" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 6H7.5V15H12.5V6ZM13 4.5H12V3H8V4.5H7C6.5 4.5 6 5 6 5.5L6 16C6 16.5 6.5 17 7 17H13C13.5 17 14 16.5 14 16V5.5C14 5 13.5 4.5 13 4.5Z" />
    </g>
    <g id="battery-29-35">
      <path d="M14 11H6V16H14V11Z" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 6H7.5V15H12.5V6ZM13 4.5H12V3H8V4.5H7C6.5 4.5 6 5 6 5.5V16C6 16.5 6.5 17 7 17H13C13.5 17 14 16.5 14 16V5.5C14 5 13.5 4.5 13 4.5Z" />
    </g>
    <g id="battery-36-42">
      <path d="M14 10.5H6V16H14V10.5Z" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 6H7.5V15H12.5V6ZM13 4.5H12V3H8V4.5H7C6.5 4.5 6 5 6 5.5V16C6 16.5 6.5 17 7 17H13C13.5 17 14 16.5 14 16V5.5C14 5 13.5 4.5 13 4.5Z" />
    </g>
    <g id="battery-43-49">
      <path d="M14 10H6V16H14V10Z" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 6H7.5V15H12.5V6ZM13 4.5H12V3H8V4.5H7C6.5 4.5 6 5 6 5.5V16C6 16.5 6.5 17 7 17H13C13.5 17 14 16.5 14 16V5.5C14 5 13.5 4.5 13 4.5Z" />
    </g>
    <g id="battery-50-56">
      <path d="M14 9.5H6V16H14V9.5Z" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 6H7.5V15H12.5V6ZM13 4.5H12V3H8V4.5H7C6.5 4.5 6 5 6 5.5V16C6 16.5 6.5 17 7 17H13C13.5 17 14 16.5 14 16V5.5C14 5 13.5 4.5 13 4.5Z" />
    </g>
    <g id="battery-57-63">
      <path d="M14 9H6V16H14V9Z" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 6H7.5V15H12.5V6ZM13 4.5H12V3H8V4.5H7C6.5 4.5 6 5 6 5.5V16C6 16.5 6.5 17 7 17H13C13.5 17 14 16.5 14 16V5.5C14 5 13.5 4.5 13 4.5Z" />
    </g>
    <g id="battery-64-70">
      <path d="M14 8.5H6V16H14V8.5Z" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 6H7.5V15H12.5V6ZM13 4.5H12V3H8V4.5H7C6.5 4.5 6 5 6 5.5V16C6 16.5 6.5 17 7 17H13C13.5 17 14 16.5 14 16V5.5C14 5 13.5 4.5 13 4.5Z" />
    </g>
    <g id="battery-71-77">
      <path d="M14 8H6V16H14V8Z" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 6H7.5V15H12.5V6ZM13 4.5H12V3H8V4.5H7C6.5 4.5 6 5 6 5.5V16C6 16.5 6.5 17 7 17H13C13.5 17 14 16.5 14 16V5.5C14 5 13.5 4.5 13 4.5Z" />
    </g>
    <g id="battery-78-85">
      <path d="M14 7.5H6L6 16H14V7.5Z" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 6H7.5V15H12.5V6ZM13 4.5H12V3H8V4.5H7C6.5 4.5 6 5 6 5.5L6 16C6 16.5 6.5 17 7 17H13C13.5 17 14 16.5 14 16V5.5C14 5 13.5 4.5 13 4.5Z" />
    </g>
    <g id="battery-86-92">
      <path d="M14 7H6V16H14V7Z" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 6H7.5V16H12.5V6ZM13 4.5H12V3H8V4.5H7C6.5 4.5 6 5 6 5.5V16C6 16.5 6.5 17 7 17H13C13.5 17 14 16.5 14 16V5.5C14 5 13.5 4.5 13 4.5Z" />
    </g>
    <g id="battery-93-100">
      <path d="M12 4.5H13C13.5 4.5 14 5 14 5.5V16C14 16.5 13.5 17 13 17H7C6.5 17 6 16.5 6 16V5.5C6 5 6.5 4.5 7 4.5H8V3H12V4.5Z" />
    </g>
    <g id="battery-charging">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M13 4.5H12V3H8V4.5H7C6.5 4.5 6 5 6 5.5V16C6 16.5 6.5 17 7 17H13C13.5 17 14 16.5 14 16V5.5C14 5 13.5 4.5 13 4.5ZM12.5 6H7.5V15.5H12.5V6Z" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.24839 11.9446C7.10262 11.7087 7.08937 11.4142 7.21337 11.1662L9.97532 5.64232C10.1412 5.31047 10.5136 5.13625 10.8747 5.22149C11.2358 5.30673 11.4909 5.62907 11.4909 6.00009V9.34302H12.0718C12.3491 9.34302 12.6066 9.48658 12.7524 9.72243C12.8981 9.95829 12.9114 10.2528 12.7874 10.5008L10.0254 16.0247C9.8595 16.3565 9.48718 16.5308 9.12608 16.4455C8.76498 16.3603 8.50988 16.0379 8.50988 15.6669V12.324H7.92891C7.65165 12.324 7.39415 12.1804 7.24839 11.9446ZM9.30988 11.524V15.6669L12.0718 10.143H10.6909V6.00009L7.92891 11.524H9.30988Z" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.30969 11.5239V15.6668L12.0716 10.1429H10.6907V6L7.92871 11.5239H9.30969Z" />
    </g>
    <g id="battery-outline">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M13 4.5H12V3H8V4.5H7C6.5 4.5 6 5 6 5.5V16C6 16.5 6.5 17 7 17H13C13.5 17 14 16.5 14 16V5.5C14 5 13.5 4.5 13 4.5ZM12.5 6H7.5V15.5H12.5V6Z" />
    </g>
    <g id="memory">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4H16C17.1046 4 18 4.89543 18 6V9C17.4477 9 17 9.44772 17 10C17 10.5523 17.4477 11 18 11V13V15C18 15.5523 17.5523 16 17 16H9C8.44772 16 8 15.5523 8 15V14H7V15C7 15.5523 6.55228 16 6 16H3C2.44772 16 2 15.5523 2 15V13V11C2.55228 11 3 10.5523 3 10C3 9.44772 2.55228 9 2 9V4ZM5 6H7V11H5V6ZM9 6H11V11H9V6ZM15 6H13V11H15V6ZM4 13H3V15H4V13ZM5 13H6V15H5V13ZM10 13H9V15H10V13ZM12 13H11V15H12V13ZM13 13H14V15H13V13ZM16 13H15V15H16V13Z" />
    </g>
    <g id="download">
      <path d="M11 9.2L13.5 6.5L15 8L10 13L5 8L6.5 6.5L9 9.2V3H11V9.2Z" />
      <path d="M6 15V13H4V15.375C4 16.2688 4.73125 17 5.625 17H14.375C15.2688 17 16 16.2688 16 15.375V13H14V15H6Z" />
    </g>
    </defs>
  </svg>
</iron-iconset-svg>