<style include="diagnostics-shared">
  #additionalMessage {
    @apply --diagnostics-routine-additional-message-font;
  }

  .button-container {
    @apply --diagnostics-button-font;
    padding: 8px 0 4px;
  }

  .learn-more-button {
    @apply --diagnostics-button-font;
    background-color: rgba(var(--google-blue-600), .06);
    border-radius: 4px;
    height: 32px;
    margin-top: 12px;
    padding: 8px 16px;
  }

  #learnMoreText {
    cursor: pointer;
    color: var(--google-blue-600);
  }

  #messageIcon {
    --iron-icon-height: 20px;
    --iron-icon-width: 20px;
    fill: var(--google-grey-700);
    margin-inline-end: 8px;
  }

  .result-list {
    margin: 16px 0;
  }

  .routine-container {
    display: flex;
    justify-content: space-between;
  }

  .routine-section-container {
    display: flex;
    flex-direction: column;
  }

  .routine-status-container {
    display: flex;
    flex-direction: column;
  }

  #testStatusBadge {
    margin-bottom: 4px;
  }

  #testStatusText {
    @apply --diagnostics-test-status-text-font;
    padding-inline-start: 6px;
  }

  #toggleReportButton {
    margin-right: 8px;
  }
</style>
<div class="routine-section-container">
  <div id="routineSection" class="routine-container">
    <div class="routine-status-container">
      <text-badge id="testStatusBadge"
          badge-type="[[badgeType_]]"
          hidden="[[isStatusHidden_(executionStatus_)]]"
          value="[[badgeText_]]">
      </text-badge>
      <span id="testStatusText"
          hidden$="[[isStatusHidden_(executionStatus_)]]">
        [[statusText_]]
        <span id="learnMoreText"
            hidden$="[[isLearnMoreHidden_(executionStatus_)]]"
            on-click="onLearnMoreClicked_">
          [[i18n('learnMoreShort')]]
        </span>
      </span>
    </div>
    <div class="button-container">
        <iron-icon id="messageIcon" icon="cr:info-outline"
            hidden$="[[isAdditionalMessageHidden_(additionalMessage)]]">
        </iron-icon>
        <paper-tooltip for="messageIcon" aria-hidden="true" id="additionalMessage">
          [[additionalMessage]]
        </paper-tooltip>
      <cr-button id="toggleReportButton" on-click="onToggleReportClicked_"
          hidden="[[isResultButtonHidden_(executionStatus_, routines.*)]]">
        [[getReportToggleButtonText_(opened)]]
      </cr-button>
      <cr-button id="runTestsButton"
          hidden$="[[isRunTestsButtonHidden_(isTestRunning,
              executionStatus_)]]"
          on-click="onRunTestsClicked_"
          disabled="[[isRunTestsButtonDisabled_(isTestRunning,
                                                additionalMessage)]]">
        [[runTestsButtonText]]
      </cr-button>
      <cr-button id="stopTestsButton"
          hidden$="[[isStopTestsButtonHidden_(executionStatus_)]]"
          on-click="stopTests_">
        [[i18n('stopTestButtonText')]]
      </cr-button>
    </div>
  </div>
  <iron-collapse id="collapse" opened="{{opened}}">
    <div class="result-list">
      <routine-result-list id="resultList"></routine-result-list>
    </div>
    <cr-button id="learnMoreButton" class="learn-more-button"
        on-click="onLearnMoreClicked_" hidden$="[[!isLoggedIn_]]">
        [[i18n('learnMore')]]
    </cr-button>
  </iron-collapse>
</div>
