<!-- Copyright 2015 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/cr_elements/cr_input/cr_input.html">

<link rel="import" href="/components/common_styles.html">
<link rel="import" href="/components/hd_iron_icon.html">
<link rel="import" href="/components/oobe_adaptive_dialog.html">
<link rel="import" href="/components/oobe_i18n_behavior.html">
<link rel="import" href="/components/oobe_loading_dialog.html">

<!--
  Password changed UI for the Gaia flow.
  Contains cards with a transition between them:
    1. Old password input form
    2. Warning about data loss
    3. Spinner with notice "Please wait"

  Example:
    <gaia-password-changed-element id="gaia-password-changed" hidden>
    </gaia-password-changed-element>

  Methods:
    'reset'      - reset element, sets in on the first screen and enables
                   buttons.
-->
<dom-module id="gaia-password-changed-element">
  <template>
    <style include="oobe-dialog-host"></style>
    <oobe-adaptive-dialog role="dialog" for-step="password" id="passwordStep">
      <hd-iron-icon icon1x="oobe-32:avatar" icon2x="oobe-64:avatar" slot="icon">
      </hd-iron-icon>
      <h1 slot="title">[[email]]</h1>
      <p slot="subtitle">
        [[i18nDynamic(locale, 'passwordChangedTitle')]]
      </p>
      <div slot="content" class="landscape-vertical-centered">
        <cr-input type="password" id="oldPasswordInput" required
            value="{{password_}}" invalid="{{passwordInvalid_}}"
            class="focus-on-show"
            placeholder="[[i18nDynamic(locale, 'oldPasswordHint')]]"
            error-message="[[i18nDynamic(locale, 'oldPasswordIncorrect')]]">
        </cr-input>
        <gaia-button id="forgotPasswordLink"
            on-click="onForgotPasswordClicked_" link>
          [[i18nDynamic(locale,'forgotOldPasswordButtonText')]]
        </gaia-button>
      </div>
      <div slot="bottom-buttons">
        <oobe-text-button id="cancel" on-click="onCancel_" text-key="cancel"
                          border>
        </oobe-text-button>
        <oobe-next-button id="next" on-click="submit_" inverse
                          text-key="nextButtonText">
        </oobe-next-button>
      </div>
    </oobe-adaptive-dialog>

    <oobe-adaptive-dialog role="dialog" for-step="forgot" id="forgotPassword">
      <hd-iron-icon icon1x="oobe-32:warning" icon2x="oobe-64:warning"
                    slot="icon">
      </hd-iron-icon>
      <h1 slot="title">[[email]]</h1>
      <p slot="subtitle">
        [[i18nDynamic(locale, 'passwordChangedProceedAnywayTitle')]]
      </p>
      <div slot="bottom-buttons">
        <oobe-text-button id="tryAgain" on-click="onTryAgainClicked_"
            class="focus-on-show" text-key="passwordChangedTryAgain">
        </oobe-text-button>
        <oobe-text-button id="proceedAnyway" on-click="onProceedClicked_"
            text-key="proceedAnywayButton" inverse>
        </oobe-text-button>
      </div>
    </oobe-adaptive-dialog>

    <oobe-loading-dialog id="progress" role="dialog" for-step="progress"
        text-key="gaiaLoading">
    </oobe-loading-dialog>
  </template>
</dom-module>
