<link rel="import" href="../../../html/polymer.html">

<link rel="import" href="../../../cr_elements/cr_button/cr_button.html">
<link rel="import" href="../../../cr_elements/cr_toggle/cr_toggle.html">
<link rel="import" href="../../../cr_elements/icons.html">
<link rel="import" href="../../../html/i18n_behavior.html">
<link rel="import" href="../../../html/assert.html">
<link rel="import" href="../../../html/cr/ui/focus_without_ink.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icon/iron-icon.html">
<link rel="import" href="mojo_interface_provider.html">
<link rel="import" href="network_password_input.html">
<link rel="import" href="network_shared_css.html">
<link rel="import" href="sim_lock_dialogs.html">
<link rel="import" href="onc_mojo.html">

<dom-module id="network-siminfo">
  <template>
    <style include="network-shared iron-flex">
      :host {
        cursor: default
      }

      iron-icon {
        margin-inline-end: 10px;
      }

      .error {
        color: red;
        font-weight: 500;
      }

      .separator {
        border-inline-start: var(--cr-separator-line);
        flex-shrink: 0;
        height: calc(var(--cr-section-min-height) - 9px);
        margin-inline-end: var(--cr-section-padding);
        margin-inline-start: var(--cr-section-padding);
      }

      cr-toggle {
        margin-inline-start: var(--cr-button-edge-spacing);
      }
    </style>

    <!-- SIM missing UI -->
    <div id="simMissing" class="property-box two-line"
        hidden$="[[!showSimMissing_(deviceState)]]">
      <div class="start layout horizontal center">
        <iron-icon icon="cr:sim-card-alert"></iron-icon>
        <div class="error">[[i18n('networkSimCardMissing')]]</div>
      </div>
    </div>

    <!-- SIM locked -->
    <div id="simLocked" class="property-box two-line"
        hidden$="[[!showSimLocked_(deviceState)]]">
      <div class="start layout horizontal center">
        <iron-icon icon="cr:sim-lock"></iron-icon>
        <div class="error">[[i18n('networkSimCardLocked')]]</div>
      </div>
      <div class="separator"></div>
      <cr-button id="unlockPinButton" on-click="onUnlockPinTap_">
        [[i18n('networkSimUnlock')]]
      </cr-button>
    </div>

    <!-- SIM unlocked -->
    <div class="property-box two-line"
        hidden$="[[!showSimUnlocked_(deviceState)]]">
      <div id="simLockToggleLabel" class="start">
        [[i18n('networkSimLockEnable')]]
      </div>
      <cr-button id="changePinButton" on-click="onChangePinTap_"
          hidden$="[[!deviceState.simLockStatus.lockEnabled]]">
        [[i18n('networkSimChangePin')]]
      </cr-button>
      <cr-toggle id="simLockButton"
          on-change="onSimLockEnabledChange_" checked="{{lockEnabled_}}"
          aria-labelledby="simLockToggleLabel">
      </cr-toggle>
    </div>

    <template is="dom-if" if="[[isDialogOpen_]]" restamp>
      <sim-lock-dialogs
          show-change-pin="[[showChangePin_]]"
          is-dialog-open="{{isDialogOpen_}}"
          device-state="[[deviceState]]">
      </sim-lock-dialogs>
    </template>
  </template>
  <script src="network_siminfo.js"></script>
</dom-module>
