<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/html/cr/ui/focus_without_ink.html">
<link rel="import" href="chrome://resources/cr_elements/cr_icon_button/cr_icon_button.html">
<link rel="import" href="chrome://resources/cr_elements/cr_search_field/cr_search_field.html">
<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="chrome://resources/cr_elements/shared_style_css.html">
<link rel="import" href="chrome://resources/html/assert.html">
<link rel="import" href="chrome://resources/cr_elements/find_shortcut_behavior.html">
<link rel="import" href="chrome://resources/html/i18n_behavior.html">
<link rel="import" href="chrome://resources/html/util.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../i18n_setup.html">
<link rel="import" href="../router.html">
<link rel="import" href="../setting_id_param_util.html">
<link rel="import" href="../settings_shared_css.html">

<dom-module id="settings-subpage">
  <template>
    <style include="cr-shared-style settings-shared">
      :host {
        background-color: var(--cr-card-background-color);
        box-shadow: var(--cr-card-shadow);
        box-sizing: border-box;
        display: block;
        left: 0;
        min-height: calc(100vh - var(--cr-toolbar-height));
        padding-bottom: 60px;
        position: absolute;
        right: 0;
        top: 0;
      }

      #headerLine {
        min-height: 40px;
        padding-bottom: 24px;
        padding-top: 8px;
      }

      #learnMore {
        align-items: center;
        display: flex;
        height: var(--cr-icon-ripple-size);
        justify-content: center;
        margin-inline-end: var(--cr-icon-ripple-margin);
        margin-inline-start: var(--cr-icon-button-margin-start);
        position: relative;  /* Needed for paper-ripple. */
        width: var(--cr-icon-ripple-size);
      }

      #title-icon {
        height: 36px;
        margin-inline-end: 12px;
        margin-inline-start: 2px;
        width: 36px;
      }

      #closeButton {
        /* Centers the ripple on the icon with appropriate margin on right. */
        margin-inline-end: 10px;
        margin-inline-start: -10px;
      }

      paper-spinner-lite {
        height: var(--cr-icon-size);
        width: var(--cr-icon-size);
      }

      h1 {
        flex: 1;  /* Push other items to the end. */
      }

      cr-search-field {
        /* Keep normal icon spacing from subpage-title-extra controls. */
        margin-inline-start: 16px;
      }
    </style>
    <div class="cr-row first" id="headerLine">
      <cr-icon-button class="icon-arrow-back" id="closeButton"
          hidden="[[hideCloseButton]]" on-click="onBackClick_"
          aria-label$="[[getBackButtonAriaLabel_(pageTitle)]]"
          aria-roledescription$=
              "[[getBackButtonAriaRoleDescription_(pageTitle)]]">
      </cr-icon-button>
      <template is="dom-if" if="[[titleIcon]]">
        <img id="title-icon" src="[[titleIcon]]" aria-hidden="true">
      </template>
      <h1 class="cr-title-text">[[pageTitle]]</h1>
      <slot name="subpage-title-extra"></slot>
      <template is="dom-if" if="[[learnMoreUrl]]">
        <cr-icon-button iron-icon="cr:help-outline" dir="ltr"
            aria-label="$i18n{learnMore}" on-click="onHelpClick_">
        </cr-icon-button>
      </template>
      <template is="dom-if" if="[[searchLabel]]">
        <cr-search-field label="[[searchLabel]]"
            on-search-changed="onSearchChanged_"
            clear-label="$i18n{clearSearch}">
        </cr-search-field>
      </template>
      <template is="dom-if" if="[[showSpinner]]">
        <paper-spinner-lite active title$="[[spinnerTitle]]">
        </paper-spinner-lite>
      </template>
    </div>
    <slot></slot>
  </template>
  <script src="settings_subpage.js"></script>
</dom-module>
