    <style include="cr-shared-style settings-shared iron-flex">
      :host {
        display: block;
      }

      .column-header {
        margin-bottom: 15px;
        margin-inline-start: 20px;
        margin-top: 15px;
      }
      #radioGroup {
        padding: 0 var(--cr-section-padding);
      }

      #radioGroupSubHeading {
        padding-bottom: 10px;
      }

      settings-collapse-radio-button {
        --settings-collapse-toggle-min-height: var(--settings-row-min-height);
      }

      settings-collapse-radio-button:not(:first-of-type) {
        --settings-collapse-separator-line: var(--cr-separator-line);
      }
    </style>
    <template is="dom-if" if="[[enableContentSettingsRedesign_]]">
      <div id="radioGroup">
        <!-- TODO(1113642): Apply actual strings and new off icon. -->
        <h2>$i18n{siteSettingsNotificationsDescription}</h2>
        <h2>$i18n{siteSettingsDefaultBehavior}</h2>
        <div id="radioSubHeading" class="secondary">
          $i18n{siteSettingsDefaultBehaviorDescription}
        </div>
        <settings-radio-group
          id="protcolHandlersRadio"
          pref="[[handlersEnabledPref_]]"
          on-change="onToggleChange_"
          selectable-elements="settings-collapse-radio-button">
          <settings-collapse-radio-button no-collapse
              id="protcolHandlersRadioAllow"
              pref="[[handlersEnabledPref_]]"
              label="$i18n{siteSettingsAllow}"
              name="true"
              disabled$="[[isGuest_]]"
              icon="settings:pdf">
          </settings-collapse-radio-button>
          <settings-collapse-radio-button no-collapse
              id="protcolHandlersRadioBlock"
              pref="[[handlersEnabledPref_]]"
              label="$i18n{siteSettingsBlock}"
              name="false"
              disabled$="[[isGuest_]]"
              icon="settings:pdf">
          </settings-collapse-radio-button>
        </settings-radio-group>
      </div>
    </template>
    <template is="dom-if" if="[[!enableContentSettingsRedesign_]]">
      <div class="cr-row first two-line">
        <div id="categoryLabel" class="flex" on-click="categoryLabelClicked_"
            actionable>
          [[computeHandlersDescription_(categoryEnabled)]]
        </div>
        <cr-toggle id="toggle" checked="{{categoryEnabled}}"
            on-change="onToggleChange_" aria-labelledby="categoryLabel">
        </cr-toggle>
      </div>
    </template>

    <template is="dom-repeat" items="[[protocols]]" as="protocol">
      <div class="column-header">[[protocol.protocol_display_name]]</div>

      <div class="list-frame menu-content vertical-list">
        <template is="dom-repeat" items="[[protocol.handlers]]">

          <div class="list-item">
            <site-favicon url="[[item.host]]"></site-favicon>
            <div class="middle" >
              <div class="protocol-host">
                <span class="url-directionality">[[item.host]]</span>
              </div>
              <div class="secondary protocol-default"
                  hidden$="[[!item.is_default]]">
                $i18n{handlerIsDefault}
              </div>
            </div>

            <cr-icon-button class="icon-more-vert" on-click="showMenu_"
                title="$i18n{moreActions}"></cr-icon-button>
          </div>
        </template>
      </div>
    </template>

    <cr-action-menu role-description="$i18n{menu}">
      <button class="dropdown-item" on-click="onDefaultClick_"
          id="defaultButton" hidden$="[[actionMenuModel_.is_default]]">
        $i18n{handlerSetDefault}
      </button>
      <button class="dropdown-item" on-click="onRemoveClick_"
          id="removeButton">
        $i18n{handlerRemove}
      </button>
    </cr-action-menu>

    <template is="dom-if" if="[[ignoredProtocols.length]]">
      <div class="column-header">$i18n{siteSettingsBlocked}</div>
      <div class="list-frame menu-content vertical-list">
        <template is="dom-repeat" items="[[ignoredProtocols]]">
          <div class="list-item">
            <site-favicon url="[[item.host]]"></site-favicon>
            <div class="middle" >
              <div class="protocol-host">
                <span class="url-directionality">[[item.host]]</span></div>
              <div class="secondary protocol-protocol">
                [[item.protocol_display_name]]
              </div>
            </div>
            <cr-icon-button class="icon-clear" id="removeIgnoredButton"
                on-click="onRemoveIgnored_" title="$i18n{handlerRemove}">
            </cr-icon-button>
          </div>
        </template>
      </div>
    </template>
