<!-- Copyright 2021 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<custom-style>
  <style is="custom-style">
    /*
     * Please check whether `multidevice_setup/ui_page.html` needs to be
     * updated when below css vars are changed.
     */
    html {
      --oobe-adaptive-dialog-text-line-height: 18px;
      --oobe-adaptive-dialog-buttons-horizontal-padding: clamp(20px,
        calc(var(--oobe-adaptive-dialog-width) * 0.035), 40px);
      --oobe-adaptive-dialog-buttons-vertical-padding: clamp(20px,
        calc(var(--oobe-adaptive-dialog-height) * 0.035), 40px);
      --oobe-adaptive-dialog-back-button-vertical-padding:
        var(--oobe-adaptive-dialog-buttons-vertical-padding);
      --oobe-adaptive-dialog-content-padding: 40px;
      --oobe-adaptive-dialog-header-top-padding:
            var(--oobe-adaptive-dialog-content-padding);
      --oobe-adaptive-dialog-title-top-padding: 40px;
      --oobe-adaptive-dialog-icon-size: 32px;
      --oobe-adaptive-dialog-content-top-padding:
        var(--oobe-adaptive-dialog-content-padding);

      /* Fonts vars */
      --oobe-button-font-family: "Google Sans", Roboto, sans-serif;
      --oobe-default-font-family: Roboto, sans-serif;
      --oobe-header-font-family: "Google Sans", Roboto, sans-serif;

      --oobe-header-font-size: 28px;
      --oobe-radio-card-label-font-size: 18px;
      --oobe-modal-dialog-header-font-size: 15px;
      --oobe-default-font-size: 13px;

      --oobe-default-font-weight: 400; /* regular */
      --oobe-header-font-weight: 400; /* regular */
      --oobe-modal-dialog-header-font-weight: 500; /* medium */

      --oobe-button-font-size: 12px;

      --oobe-header-text-color: var(--google-grey-900);
      --oobe-subheader-text-color: var(--google-grey-700);
      --oobe-text-color: var(--google-grey-700);

      --oobe-header-line-height: 36px;
      --oobe-radio-card-label-line-height: 24px;
      --oobe-default-line-height: 20px;
      /* Fonts vars end */
    }
  </style>
</custom-style>
