<!-- Copyright 2018 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/cr_elements/cr_checkbox/cr_checkbox.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icon/iron-icon.html">
<link rel="import" href="chrome://resources/cr_elements/cr_lottie/cr_lottie.html">

<link rel="import" href="/components/common_styles.html">
<link rel="import" href="/components/oobe_adaptive_dialog.html">
<link rel="import" href="/components/oobe_i18n_behavior.html">
<link rel="import" href="/components/oobe_dialog_host_behavior.html">

<dom-module id="app-downloading-element">
  <template>
    <style include="oobe-dialog-host">
      #video-container video {
        height: 247px;
        margin-bottom: auto;
        margin-top: auto;
        width: 278px;
      }

      #video-container cr-lottie {
        margin-bottom: auto;
        margin-top: auto;
        width: 100%;
      }

      :host-context(html[new-layout]) #video {
        display: none;
      }

      :host-context(html:not([new-layout])) #downloadingApps {
        display: none;
      }
    </style>
    <oobe-adaptive-dialog id="app-downloading-dialog" role="dialog"
        aria-label$="[[getDialogTitleA11yString_(numOfApps)]]"
        no-footer-padding>
      <iron-icon src="chrome://oobe/playstore.svg" slot="icon">
      </iron-icon>
      <h1 slot="title" id="title-singular" hidden="[[!singularTitleVisible_]]">
        [[i18nDynamic(locale, 'appDownloadingScreenTitleSingular')]]
      </h1>
      <h1 slot="title" id="title-plural" hidden="[[!pluralTitleVisible_]]">
        [[i18nDynamic(locale, 'appDownloadingScreenTitlePlural', numOfApps)]]
      </h1>
      <h1 slot="title" id="title" hidden="[[!newLayoutEnabled_]]">
        [[i18nDynamic(locale, 'appDownloadingScreenTitle')]]
      </h1>
      <div slot="subtitle">
        [[i18nDynamic(locale, 'appDownloadingScreenDescription')]]
      </div>
      <div id="video-container" slot="content" class="content-centered">
        <if expr="chromeos and _google_chrome">
          <video id="video" loop="loop" muted preload="auto">
            <source src="chrome://oobe/res/arc_app_dowsnloading.mp4"
                type="video/mp4">
          </video>
          <cr-lottie id="downloadingApps" animation-url="downloading_apps.json"
              singleLoop="false"></cr-lottie>
        </if>
      </div>
      <div slot="bottom-buttons">
        <oobe-text-button id="continue-setup-button"
            text-key="appDownloadingContinueSetup" on-click="onContinue_"
            class="focus-on-show" inverse></oobe-text-button>
      </div>
    </oobe-adaptive-dialog>
  </template>
</dom-module>
