<!-- Copyright 2020 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="/components/common_styles.html">
<link rel="import" href="/components/hd_iron_icon.html">
<link rel="import" href="/components/oobe_adaptive_dialog.html">
<link rel="import" href="/components/oobe_i18n_behavior.html">
<link rel="import" href="/components/oobe_dialog_host_behavior.html">

<dom-module id="device-disabled-element">
  <template>
    <style include="oobe-dialog-host">
      #message {
        @apply --oobe-default-font;
        color: var(--oobe-text-color);
        overflow: auto;
        text-overflow: clip;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    </style>

    <oobe-adaptive-dialog title-key="deviceDisabledHeading" id="dialog"
        role="dialog"
        aria-label$="[[i18nDynamic(locale, 'deviceDisabledHeading')]]">
      <hd-iron-icon slot="icon"
        icon1x="oobe-32:warning" icon2x="oobe-64:warning">
      </hd-iron-icon>
      <h1 slot="title">
        [[i18nDynamic(locale, 'deviceDisabledHeading')]]
      </h1>
      <div slot="subtitle">
        [[disabledText_(locale, serial_, enrollmentDomain_)]]
      </div>
      <div slot="content" class="flex layout vertical center center-justified">
        <div id="message">[[message_]]</div>
        <img class="oobe-illustration flex"
             srcset="images/1x/device-disabled.svg 1x,
                     images/2x/device-disabled.svg 2x">
      </div>
    </oobe-adaptive-dialog>
  </template>
</dom-module>
