<!-- Copyright 2020 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/cr_elements/cr_lottie/cr_lottie.html">

<link rel="import" href="/components/common_styles.html">
<link rel="import" href="/components/oobe_adaptive_dialog.html">
<link rel="import" href="/components/oobe_i18n_behavior.html">

<dom-module id="gesture-navigation-element">
  <template>
    <style include="oobe-dialog-host">
      .gesture-animation-container {
        height: min(400px, 100%);
        overflow: hidden;
        width: min(400px, 100%);
      }

      .gesture-list-item {
        display: flex;
        height: 46px;
        padding-bottom: 4px;
      }

      .gesture-list-item-icon {
        align-self: flex-start;
        height: 24px;
        margin: auto;
        width: 24px;
      }

      .gesture-list-item-text {
        flex: 1 1 auto;
        margin: auto;
        padding-inline-start: 16px;
      }
    </style>
    <oobe-adaptive-dialog id="gestureIntro" for-step="gestureIntro"
        role="dialog"
        aria-label$="[[i18nDynamic(locale, 'gestureNavigationIntroTitle')]]">
      <img slot="icon" src="images/gestures.svg" width="32" height="32">
      <h1 slot="title">
        [[i18nDynamic(locale, 'gestureNavigationIntroTitle')]]
      </h1>
      <div slot="content" class="landscape-header-aligned
          portrait-horizontal-centered">
        <div class="gesture-list-item">
          <img class="gesture-list-item-icon" src="images/home.svg">
          <div class="gesture-list-item-text">
            [[i18nDynamic(locale, 'gestureNavigationIntroGoHomeItem')]]
          </div>
        </div>
        <div class="gesture-list-item">
          <img class="gesture-list-item-icon" src="images/overview.svg">
          <div class="gesture-list-item-text">
            [[i18nDynamic(locale, 'gestureNavigationIntroSwitchAppItem')]]
          </div>
        </div>
        <div class="gesture-list-item">
          <img class="gesture-list-item-icon" src="images/back.svg">
          <div class="gesture-list-item-text">
              [[i18nDynamic(locale, 'gestureNavigationIntroGoBackItem')]]
          </div>
        </div>
      </div>
      <div slot="bottom-buttons">
        <oobe-text-button inverse on-click="onNext_"
            id="gesture-intro-next-button" class="focus-on-show"
            text-key="gestureNavigationIntroNextButton">
        </oobe-text-button>
      </div>
    </oobe-adaptive-dialog>

    <oobe-adaptive-dialog id="gestureHome" for-step="gestureHome" role="dialog"
        aria-label$="[[i18nDynamic(locale, 'gestureNavigationHomeTitle')]]">
      <img slot="icon" src="images/home.svg" width="32" height="32">
      <h1 slot="title">
        [[i18nDynamic(locale, 'gestureNavigationHomeTitle')]]
      </h1>
      <p slot="subtitle">
        [[i18nDynamic(locale, 'gestureNavigationHomeDescription')]]
      </p>
      <div slot="content" class="content-centered">
        <div class="gesture-animation-container">
          <cr-lottie animation-url="gesture_go_home.json"
                     class="gesture-animation">
          </cr-lottie>
        </div>
      </div>
      <div slot="back-navigation">
        <oobe-back-button on-click="onBack_"
            id="gesture-home-back-button"></oobe-back-button>
      </div>
      <div slot="bottom-buttons">
        <oobe-next-button on-click="onNext_" class="focus-on-show"
            id="gesture-home-next-button"></oobe-next-button>
      </div>
    </oobe-adaptive-dialog>

    <oobe-adaptive-dialog id="gestureOverview" for-step="gestureOverview"
        role="dialog"
        aria-label$="[[i18nDynamic(locale, 'gestureNavigationOverviewTitle')]]">
      <img slot="icon" src="images/overview.svg" width="32" height="32">
      <h1 slot="title">
        [[i18nDynamic(locale, 'gestureNavigationOverviewTitle')]]
      </h1>
      <p slot="subtitle">
        [[i18nDynamic(locale, 'gestureNavigationOverviewDescription')]]
      </p>
      <div slot="content" class="content-centered">
        <div class="gesture-animation-container">
          <cr-lottie animation-url="gesture_hotseat_overview.json"
                     class="gesture-animation">
          </cr-lottie>
        </div>
      </div>
      <div slot="back-navigation">
        <oobe-back-button on-click="onBack_"
            id="gesture-overview-back-button"></oobe-back-button>
      </div>
      <div slot="bottom-buttons">
        <oobe-next-button on-click="onNext_" class="focus-on-show"
            id="gesture-overview-next-button"></oobe-next-button>
      </div>
    </oobe-adaptive-dialog>

    <oobe-adaptive-dialog id="gestureBack" for-step="gestureBack" role="dialog"
        aria-label$="[[i18nDynamic(locale, 'gestureNavigationBackTitle')]]">
      <img slot="icon" src="images/back.svg" width="32" height="32">
      <h1 slot="title">
        [[i18nDynamic(locale, 'gestureNavigationBackTitle')]]
      </h1>
      <p slot="subtitle">
        [[i18nDynamic(locale, 'gestureNavigationBackDescription')]]
      </p>
      <div slot="content" class="content-centered">
        <div class="gesture-animation-container">
          <cr-lottie animation-url="gesture_go_back.json"
                      class="gesture-animation">
          </cr-lottie>
        </div>
      </div>
      <div slot="back-navigation">
        <oobe-back-button on-click="onBack_"
            id="gesture-back-back-button"></oobe-back-button>
      </div>
      <div slot="bottom-buttons">
        <oobe-next-button on-click="onNext_" class="focus-on-show"
            id="gesture-back-next-button"></oobe-next-button>
      </div>
    </oobe-adaptive-dialog>
  </template>
</dom-module>
