<!-- Copyright 2018 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="chrome://resources/polymer/v1_0/iron-icon/iron-icon.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-iconset-svg/iron-iconset-svg.html">
<link rel="import" href="chrome://resources/cr_elements/cr_lottie/cr_lottie.html">

<link rel="import" href="/components/common_styles.html">
<link rel="import" href="/components/hd_iron_icon.html">
<link rel="import" href="/components/oobe_adaptive_dialog.html">
<link rel="import" href="/components/oobe_i18n_behavior.html">
<link rel="import" href="/components/oobe_dialog_host_behavior.html">

<iron-iconset-svg name="marketing-opt-in-32" size="32">
    <svg>
        <defs>
          <g id="accessibility" fill-rule="evenodd">
            <path d="M16 2.667c1.467 0 2.667 1.184 2.667 2.633 0 1.448-1.2 2.632-2.667 2.632-1.467 0-2.667-1.184-2.667-2.632 0-1.45 1.2-2.633 2.667-2.633zm4 9.215v16.785h-3v-7.9h-2v7.9h-3V11.882H4V8.92h24v2.962h-8z"></path>
          </g>
        </defs>
      </svg>
</iron-iconset-svg>

<iron-iconset-svg name="marketing-opt-in-64" size="64">
    <svg>
        <defs>
          <g id="accessibility" fill-rule="evenodd">
            <path d="M32 5.333c2.933 0 5.333 2.415 5.333 5.367 0 2.95-2.4 5.366-5.333 5.366-2.933 0-5.333-2.415-5.333-5.366 0-2.952 2.4-5.367 5.333-5.367zM40 24v35h-5V43h-6v16.006h-5V24H8v-4.915h48V24H40z"></path>
          </g>
        </defs>
      </svg>
</iron-iconset-svg>

<dom-module id="marketing-opt-in-element">
  <template>
    <style include="oobe-dialog-host">
      #bottom-unsubscribe-disclaimer {
        margin-bottom: 15px;
      }
      #legalFooter {
        margin-top: 40px;
      }
      :host-context([orientation=horizontal]) #marketing-opt-in-toggle {
        margin-top: calc(var(--oobe-adaptive-dialog-title-top-padding) +
                          var(--oobe-adaptive-dialog-icon-size) +
                          var(--oobe-adaptive-dialog-header-top-padding) - (
                          (var(--marketing-opt-in-row-height) -
                          var(--marketing-opt-in-line-height))/ 2));
      }
      :host-context([orientation=vertical ]) #contentArea {
        justify-content: center;
      }
    </style>
    <link rel="stylesheet" href="marketing_opt_in.css">
    <oobe-adaptive-dialog id="marketingOptInOverviewDialog" role="dialog"
        hidden="[[isAccessibilitySettingsShown_]]"
        aria-label$="[[i18nDynamic(locale, 'marketingOptInScreenTitle')]]"
        aria-describedby="marketing-opt-in-subtitle">
      <hd-iron-icon slot="icon" hidden="[[newLayoutEnabled_]]"
          icon1x="oobe-32:checkmark" icon2x="oobe-32:checkmark">
      </hd-iron-icon>
      <hd-iron-icon slot="icon" hidden="[[!newLayoutEnabled_]]"
           icon1x="oobe-32:checkmarkv2" icon2x="oobe-32:checkmarkv2">
      </hd-iron-icon>
      <h1 slot="title">
        [[i18nDynamic(locale, 'marketingOptInScreenTitle')]]
      </h1>
      <!-- No marketing opt in -->
      <div slot="subtitle" hidden="[[marketingOptInVisible_]]">
        [[i18nDynamic(locale, 'marketingOptInScreenSubtitleWithDeviceName')]]
      </div>
      <!-- Marketing opt in -->
      <div slot="subtitle" hidden="[[!marketingOptInVisible_]]">
        [[i18nDynamic(locale, 'marketingOptInScreenSubtitle')]]
        <!-- Without legal footer: short unsubscribe sentence -->
        <span hidden="[[hasLegalFooter_]]">
          [[i18nDynamic(locale, 'marketingOptInScreenUnsubscribeShort')]]
        </span>
      </div>
      <!-- Long unsubscribe disclaimer: shown here only in old layouts -->
      <div slot="subtitle" hidden="[[!hasTopLongDisclaimer_]]">
        [[i18nDynamic(locale, 'marketingOptInScreenUnsubscribeLong')]]
      </div>
      <!-- Animation -->
      <div slot="subtitle" hidden="[[!newLayoutEnabled_]]">
        <div hidden="[[hasAnimationInContent_]]">
          <cr-lottie class="new-marketing-animation-subtitle"
              id="newAnimationInSubtitle"
              animation-url="all_set_new_noloop.json" singleLoop="true">
          </cr-lottie>
        </div>
      </div>
      <div id="contentArea" slot="content" class="layout flex vertical">
        <!-- Toggle row -->
        <div class="marketing-option layout horizontal center"
            hidden="[[!marketingOptInVisible_]]"
            id="marketing-opt-in-toggle">
          <hd-iron-icon icon1x="oobe-32:chromebook" icon2x="oobe-64:chromebook">
          </hd-iron-icon>
          <div id="chromebookUpdatesOptionLabel" class="flex" aria-hidden="true">
            [[i18nDynamic(locale, 'marketingOptInGetChromebookUpdates')]]
          </div>
          <cr-toggle id="chromebookUpdatesOption" checked
              aria-labelledby="chromebookUpdatesOptionLabel">
          </cr-toggle>
        </div>

        <!-- Animation in the content area when there is no toggle -->
        <div hidden="[[!hasAnimationInContent_]]"
          class="new-marketing-animation-content">
          <cr-lottie id="newAnimationInContentArea"
              animation-url="all_set_new_noloop.json" singleLoop="true">
          </cr-lottie>
        </div>

        <!-- Old animation for old layout without the legal footer -->
        <div id="animation" class="marketing-animation-container"
            hidden="[[hasNewLayoutOrLegalFooter]]">
          <cr-lottie id="oldAnimation"
              class="marketing-animation" animation-url="all_set.json">
          </cr-lottie>
        </div>

        <!-- Legal footer. Shown for both layouts. -->
        <div id="legalFooter" hidden="[[!hasLegalFooter_]]" class="legal-info">
          <div id="bottom-unsubscribe-disclaimer"
              hidden="[[!newLayoutEnabled_]]">
            [[i18nDynamic(locale, 'marketingOptInScreenUnsubscribeLong')]]
          </div>
          <div>
            Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA
          </div>
          <div id="googleUrl">www.google.com</div>
        </div>
      </div>
      <div slot="bottom-buttons">
        <div>
          <oobe-welcome-secondary-button
              hidden="[[!isA11ySettingsButtonVisible_]]"
              id="marketing-opt-in-accessibility-button"
              on-click="onToggleAccessibilityPage_"
              icon1x="marketing-opt-in-32:accessibility"
              icon2x="marketing-opt-in-64:accessibility"
              text-key="marketingOptInA11yButtonLabel">
          </oobe-welcome-secondary-button>
        </div>
        <oobe-text-button on-click="onGetStarted_" class="focus-on-show"
            inverse text-key="marketingOptInScreenAllSet"
            id="marketing-opt-in-next-button">
        </oobe-text-button>
      </div>
    </oobe-adaptive-dialog>

    <oobe-adaptive-dialog id="finalAccessibilityPage" role="dialog"
        hidden="[[!isAccessibilitySettingsShown_]]"
        aria-label$="[[i18nDynamic(locale, 'finalA11yPageTitle')]]">
      <hd-iron-icon slot="icon"
          icon1x="marketing-opt-in-32:accessibility"
          icon2x="marketing-opt-in-64:accessibility">
      </hd-iron-icon>
      <h1 slot="title">
        [[i18nDynamic(locale, 'finalA11yPageTitle')]]
      </h1>
      <div slot="content" class="layout vertical">
        <oobe-a11y-option id="a11yNavButtonToggle"
            on-change="onA11yNavButtonsSettingChanged_">
          <span slot="title">
            [[i18nDynamic(locale, 'finalA11yPageNavButtonSettingTitle')]]
          </span>
          <span slot="checked-value">
            [[i18nDynamic(locale, 'finalA11yPageNavButtonSettingDescription')]]
          </span>
          <span slot="unchecked-value">
            [[i18nDynamic(locale, 'finalA11yPageNavButtonSettingDescription')]]
          </span>
        </oobe-a11y-option>
      </div>
      <div slot="back-navigation">
        <oobe-back-button on-click="onToggleAccessibilityPage_"
            id="final-accessibility-back-button"></oobe-back-button>
      </div>
      <div slot="bottom-buttons">
        <oobe-text-button on-click="onGetStarted_" class="focus-on-show"
            id="final-accessibility-next-button" inverse
            text-key="finalA11yPageDoneButtonTitle">
        </oobe-text-button>
      </div>
    </oobe-adaptive-dialog>
  </template>
</dom-module>
