<!-- Copyright 2019 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="chrome://resources/html/action_link.html">

<link rel="import" href="/components/common_styles.html">
<link rel="import" href="/components/hd_iron_icon.html">
<link rel="import" href="/components/oobe_adaptive_dialog.html">
<link rel="import" href="/components/oobe_dialog_host_behavior.html">

<dom-module id="oobe-adb-sideloading-element">
  <template>
    <style include="oobe-dialog-host"></style>

    <!-- Dialog for normal confirmation -->
    <oobe-adaptive-dialog id="enableAdbSideloadDialog" role="dialog"
        for-step="setup" footer-shrinkable
        aria-label$="[[i18nDynamic(locale, 'enableAdbSideloadingSetupTitle')]]">
      <hd-iron-icon slot="icon"
          icon1x="oobe-32:alert" icon2x="oobe-64:alert">
      </hd-iron-icon>
      <h1 slot="title">
        [[i18nDynamic(locale, 'enableAdbSideloadingSetupTitle')]]
      </h1>
      <p slot="subtitle">
        [[i18nDynamic(locale, 'enableAdbSideloadingSetupMessage')]]
        <a on-click="onLearnMoreTap_" class="oobe-local-link"
            is="action-link">
          [[i18nDynamic(locale, 'enableAdbSideloadingLearnMore')]]
        </a>
      </p>
      <div slot="content" class="flex layout vertical center center-justified">
        <img srcset="images/1x/arc_sideloading_illustration.svg 1x,
                     images/2x/arc_sideloading_illustration.svg 2x"
             class="oobe-illustration"
             alt="[[i18nDynamic(locale,
                    'enableAdbSideloadingIllustrationTitle')]]">
      </div>
      <div slot="bottom-buttons">
        <oobe-text-button border on-click="onCancelTap_"
            text-key="enableAdbSideloadingCancelButton"
            id="enable-adb-sideloading-cancel-button"></oobe-text-button>
        <oobe-text-button inverse on-click="onEnableTap_" class="focus-on-show"
            text-key="enableAdbSideloadingConfirmButton"
            id="enable-adb-sideloading-ok-button"></oobe-text-button>
      </div>
    </oobe-adaptive-dialog>

    <!-- Dialog for error -->
    <oobe-adaptive-dialog id="enableAdbSideloadErrorDialog" role="dialog"
        for-step="error" footer-shrinkable
        aria-label$="[[i18nDynamic(locale, 'enableAdbSideloadingSetupTitle')]]">
      <hd-iron-icon slot="icon"
          icon1x="oobe-32:warning" icon2x="oobe-64:warning">
      </hd-iron-icon>
      <h1 slot="title">
        [[i18nDynamic(locale, 'enableAdbSideloadingErrorTitle')]]
      </h1>
      <p slot="subtitle">
        [[i18nDynamic(locale, 'enableAdbSideloadingErrorMessage')]]
        <a on-click="onLearnMoreTap_" class="oobe-local-link" is="action-link">
          [[i18nDynamic(locale, 'enableAdbSideloadingLearnMore')]]
        </a>
      </p>
      <div slot="content" class="flex layout vertical center center-justified">
        <img srcset="images/1x/error.svg 1x,
                     images/2x/error.svg 2x"
             class="oobe-illustration"
             alt="[[i18nDynamic(locale,
                    'enableAdbSideloadingErrorIllustrationTitle')]]">
      </div>
      <div slot="bottom-buttons">
        <oobe-text-button inverse on-click="onCancelTap_" class="focus-on-show"
            text-key="enableAdbSideloadingOkButton"></oobe-text-button>
      </div>
    </oobe-adaptive-dialog>
  </template>
</dom-module>
