/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  --oobe-hid-detection-item-border: 1px solid var(--google-grey-200);
}

.hid-selection-entry {
  border-bottom: var(--oobe-hid-detection-item-border);
  color: var(--google-grey-900);
}

#touchscreen-icon,
#keyboard-icon,
#mouse-icon {
  --iron-icon-height: 20px;
  --iron-icon-width: 20px;
  padding-inline-end: 16px;
}

#hid-touchscreen-row,
#hid-mouse-row,
#hid-keyboard-row {
  min-height: 48px;
}

#touchscreen-tick,
#keyboard-tick,
#mouse-tick {
  margin-inline-start: -28px;
  position: relative;
  top: 4px;
}

#hid-keyboard-pincode {
 padding: 30px 0 30px 0;
};

.pin-code-style {
  color: rgb(26, 115, 232); /*#1a73e8*/
  font-size: 48px;
}

.content-padding {
  padding-top: 12px;
}

.key-next {
  background: rgb(26, 115, 232); /*#1a73e8*/
  border-radius: 5px;
  color: #fff;
}

.icon-active {
  height: 24px;
  width: 24px;
}
