<!-- Copyright 2019 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="chrome://resources/html/i18n_behavior.html">

<link rel="import" href="chrome://oobe/custom_elements.html">

<link rel="import" href="/components/oobe_i18n_behavior.html">
<link rel="import" href="/components/oobe_adaptive_dialog.html">
<link rel="import" href="/components/oobe_dialog_host_behavior.html">

<dom-module id="kiosk-enable-element">
  <template>
    <style include="oobe-dialog-host"></style>

    <oobe-adaptive-dialog id="dialog" role="dialog"
        aria-label$="[[i18nDynamic(locale, 'kioskEnableWarningText')]]"
        footer-shrinkable>
      <h1 slot="title">
        [[i18nDynamic(locale, 'kioskEnableWarningText')]]
      </h1>
      <span slot="subtitle" hidden="[[!eq_(state_, 'confirm')]]">
        [[i18nDynamic(locale,'kioskEnableWarningDetails')]]
      </span>
      <span slot="subtitle" hidden="[[!eq_(state_, 'success')]]">
        [[i18nDynamic(locale,'kioskEnableSuccessMsg')]]
      </span>
      <span slot="subtitle" hidden="[[!eq_(state_, 'error')]]">
        [[i18nDynamic(locale,'kioskEnableErrorMsg')]]
      </span>
      <div slot="content" class="flex layout center-justified vertical">
        <img src="chrome://theme/IDR_RESET_WARNING" class="oobe-illustration">
      </div>
      <div slot="bottom-buttons">
        <oobe-text-button id="enable" hidden="[[!eq_(state_, 'confirm')]]"
            inverse on-click="onEnableButton_" text-key="kioskEnableButton">
        </oobe-text-button>
        <oobe-text-button id="close" class="focus-on-show" inverse
            text-key="[[primaryButtonTextKey_(state_)]]"
            on-click="closeDialog_"></oobe-text-button>
      </div>
    </oobe-adaptive-dialog>
  </template>
</dom-module>
