<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="/components/common_styles.html">
<link rel="import" href="/components/hd_iron_icon.html">
<link rel="import" href="/components/oobe_adaptive_dialog.html">
<link rel="import" href="/components/oobe_i18n_behavior.html">
<link rel="import" href="/components/oobe_dialog_host_behavior.html">

<dom-module id="autolaunch-element">
  <template>
    <style include="oobe-dialog-host">
      #appName {
        color: #404040;
        font-size: 22px;
      }
    </style>
    <oobe-adaptive-dialog id="autolaunch" role="dialog"
        aria-label$="[[i18nDynamic(locale, 'autolaunchTitle')]]">
      <hd-iron-icon slot="icon" icon1x="oobe-32:alert" icon2x="oobe-64:alert">
      </hd-iron-icon>
      <h1 slot="title">
        [[i18nDynamic(locale, 'demoSetupProgressScreenTitle')]]
      </h1>
      <p slot="subtitle">
        [[i18nDynamic(locale, 'autolaunchWarning')]]
      </p>
      <div id="footer" slot="content">
        <img id="appIcon" src="[[appIconUrl_]]" alt="">
        <div id="appName">[[appName_]]</div>
      </div>
      <div slot="bottom-buttons" class="layout horizontal end-justified">
        <oobe-text-button id="cancelButton" on-click="onCancel_" text-key="autolaunchCancelButton"
            class="focus-on-show">
        </oobe-text-button>
        <oobe-text-button id="confirmButton" on-click="onConfirm_"
            text-key="autolaunchConfirmButton" inverse>
        </oobe-text-button>
      </div>
    </oobe-adaptive-dialog>
  </template>
</dom-module>
