<!-- Copyright 2020 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="/components/oobe_loading_dialog.html">
<link rel="import" href="/components/oobe_dialog_host_behavior.html">

<dom-module id="auto-enrollment-check-element">
  <template>
    <oobe-loading-dialog text-key="autoEnrollmentCheckMessage">
    </oobe-loading-dialog>
  </template>
</dom-module>
