<!-- Copyright 2020 The Chromium Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file. -->

<link rel="import" href="chrome://oobe/custom_elements.html">
<link rel="import" href="chrome://resources/cr_elements/shared_vars_css.html">

<link rel="import" href="/components/common_styles.html">
<link rel="import" href="/components/hd_iron_icon.html">
<link rel="import" href="/components/oobe_adaptive_dialog.html">
<link rel="import" href="/components/oobe_i18n_behavior.html">
<link rel="import" href="/components/oobe_dialog_host_behavior.html">

<dom-module id="parental-handoff-element">
  <template>
    <style include="oobe-dialog-host"></style>
    <oobe-adaptive-dialog id="parentalHandoffDialog" role="dialog"
        aria-label$="[[i18nDynamic(locale, 'parentalHandoffDialogTitle', username_)]]">
      <hd-iron-icon icon1x="oobe-32:googleg" icon2x="oobe-64:googleg"
          slot="icon">
      </hd-iron-icon>
      <h1 slot="title">
        [[i18nDynamic(locale, 'parentalHandoffDialogTitle', username_)]]
      </h1>
      <p slot="subtitle">
        [[i18nDynamic(locale, 'parentalHandoffDialogSubtitle', username_)]]
      </p>
      <div slot="content" class="flex layout vertical center center-justified">
        <img srcset="images/1x/kids_turn.svg 1x,
            images/2x/kids_turn.svg 2x" class="oobe-illustration"
            alt$="[[i18nDynamic(locale, 'parentalHandoffDialogTitle', username_)]]">
      </div>
      <div slot="bottom-buttons">
        <oobe-next-button id="nextButton"
            text-key="parentalHandoffDialogNextButton" class="focus-on-show"
            inverse on-click="onNextButtonPressed_"></oobe-next-button>
      </div>
    </oobe-adaptive-dialog>
  </template>
</dom-module>
