<!-- Copyright 2020 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->
<link rel="import" href="chrome://oobe/custom_elements.html">
<link rel="import" href="chrome://resources/cr_elements/shared_vars_css.html">

<link rel="import" href="/components/common_styles.html">
<link rel="import" href="/components/hd_iron_icon.html">
<link rel="import" href="/components/oobe_adaptive_dialog.html">
<link rel="import" href="/components/oobe_i18n_behavior.html">
<link rel="import" href="/components/oobe_dialog_host_behavior.html">

<dom-module id="tpm-error-message-element">
  <template>
    <style include="oobe-dialog-host"></style>
    <oobe-adaptive-dialog id="errorDialog" role="dialog"
        aria-label$="[[i18nDynamic(locale, 'errorTpmFailureTitle')]]">
      <hd-iron-icon slot="icon" icon1x="oobe-32:warning"
          icon2x="oobe-64:warning">
      </hd-iron-icon>
      <h1 slot="title">
        [[i18nDynamic(locale, 'errorTpmFailureTitle')]]
      </h1>
      <p slot="subtitle">
        [[i18nDynamic(locale, 'errorTpmFailureReboot')]]
      </p>
      <div slot="content" class="flex layout vertical center center-justified">
        <img srcset="images/1x/error.svg 1x,
            images/2x/error.svg 2x" class="oobe-illustration">
      </div>
      <div slot="bottom-buttons">
        <oobe-text-button id="restartButton" inverse class="focus-on-show"
            text-key="errorTpmFailureRebootButton" on-click="onRestartTap_">
        </oobe-text-button>
      </div>
    </oobe-adaptive-dialog>
  </template>
</dom-module>
