<!-- Copyright 2020 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="/components/common_styles.html">
<link rel="import" href="/components/hd_iron_icon.html">
<link rel="import" href="/components/oobe_adaptive_dialog.html">
<link rel="import" href="/components/oobe_i18n_behavior.html">
<link rel="import" href="/components/oobe_dialog_host_behavior.html">

<dom-module id="signin-fatal-error-element">
  <template>
    <style include="oobe-dialog-host">
    </style>
    <oobe-adaptive-dialog id="signinFatalErrorDialog" role="dialog">
      <hd-iron-icon slot="icon"
          icon1x="oobe-32:alert" icon2x="oobe-64:alert">
      </hd-iron-icon>
      <h1 slot="title">
        [[i18nDynamic(locale, 'errorGenericFatalErrorTitle')]]
      </h1>
      <p id="subtitle" slot="subtitle">
        [[errorSubtitle_]]
      </p>
      <div slot="bottom-buttons">
        <oobe-text-button id="actionButton" inverse class="focus-on-show"
            text-key="[[computeButtonKey_(errorState_)]]" on-tap="onClick_">
        </oobe-text-button>
      </div>
    </oobe-adaptive-dialog>
  </template>
</dom-module>
