<!-- Copyright 2019 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="chrome://resources/html/action_link.html">

<link rel="import" href="/components/common_styles.html">
<link rel="import" href="/components/hd_iron_icon.html">
<link rel="import" href="/components/oobe_i18n_behavior.html">
<link rel="import" href="/components/oobe_loading_dialog.html">
<link rel="import" href="/components/oobe_adaptive_dialog.html">
<link rel="import" href="/components/throbber_notice.html">

<dom-module id="gaia-signin-element">
  <template>
    <style include="oobe-dialog-host">
      [transparent] {
        opacity: 0;
      }

      [animated-transparency][transparent] {
        transition: opacity 500ms ease-in;
      }

      [animated-transparency]:not([transparent]) {
        transition: opacity 500ms ease-out;
      }

      .icon20 {
        height: 20px;
        width: 20px;
      }
    </style>
    <gaia-dialog id="signin-frame-dialog"
        transparent$="[[isLoadingUiShown_]]" class="flex"
        for-step="online-gaia, gaia-loading"
        is-saml-sso-visible="[[isSamlSsoVisible_]]"
        video-enabled="{{videoEnabled_}}"
        auth-flow="{{authFlow}}"
        navigation-enabled="{{navigationEnabled_}}"
        navigation-hidden="[[navigationButtonsHidden_]]"
        webview-name="signin-frame"
        can-go-back="{{canGaiaGoBack_}}"
        on-backcancel="onBackButtonCancel_"
        on-closesaml="cancel"
        on-identifierentered="onIdentifierEnteredMessage_"
        on-webviewerror="onLoadAbortMessage_"
        on-ready="onAuthReady_"
        on-showview="onShowView_"
        on-startenrollment="onStartEnrollment_"
        on-exit="onExitMessage_"
        on-removeuserbyemail="onRemoveUserByEmailMessage_">
    </gaia-dialog>
    <security-token-pin id="pinDialog" parameters="[[pinDialogParameters_]]"
        for-step="pin" on-cancel="onPinDialogCanceled_"
        on-completed="onPinDialogCompleted_">
    </security-token-pin>
    <oobe-adaptive-dialog id="saml-interstitial" role="dialog" has-buttons
        for-step="saml-interstitial">
      <hd-iron-icon slot="icon" icon1x="oobe-32:googleg"
          icon2x="oobe-64:googleg">
      </hd-iron-icon>
      <h1 slot="title">
        [[i18nDynamic(locale, 'loginWelcomeMessage')]]
      </h1>
      <div slot="subtitle" hidden="[[isEmpty_(samlInterstitialDomain_)]]">
        <iron-icon class="icon20" icon="cr20:domain"></iron-icon>
        [[i18nDynamic(locale, 'samlInterstitialMessage',
                      samlInterstitialDomain_)]]
        <p>
          <a class="oobe-local-link" on-click="onSamlPageChangeAccount_"
              id="interstitial-change-account" is="action-link">
            [[i18nDynamic(locale, 'samlInterstitialChangeAccountLink')]]
          </a>
        </p>
      </div>
      <div slot="back-navigation">
        <oobe-back-button id="interstitial-back"
            on-click="onInterstitialBackButtonClicked_"></oobe-back-button>
      </div>
      <div slot="bottom-buttons">
        <oobe-next-button on-click="onSamlInterstitialNext_"
            id="interstitial-next" class="focus-on-show"></oobe-next-button>
      </div>
    </oobe-adaptive-dialog>
    <div id="gaia-loading" class="layout center center-justified vertical fit"
        for-step="loading, gaia-loading">
      <throbber-notice text-key="gaiaLoading"></throbber-notice>
    </div>
    <notification-card id="gaia-allowlist-error" type="fail" class="fit"
        for-step="allowlist-error"
        button-label="[[i18nDynamic(locale, 'tryAgainButton')]]"
        link-label="[[i18nDynamic(locale, 'learnMoreButton')]]">
    </notification-card>
  </template>
</dom-module>
