<!-- Copyright 2020 The Chromium Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file. -->

<link rel="import" href="chrome://resources/cr_elements/cr_radio_button/cr_card_radio_button.html">
<link rel="import" href="chrome://resources/cr_elements/cr_radio_group/cr_radio_group.html">
<link rel="import" href="chrome://resources/html/action_link.html">
<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="/components/common_styles.html">
<link rel="import" href="/components/hd_iron_icon.html">
<link rel="import" href="/components/oobe_adaptive_dialog.html">
<link rel="import" href="/components/oobe_i18n_behavior.html">
<link rel="import" href="/components/oobe_dialog_host_behavior.html">

<dom-module id="user-creation-element">
  <template>
    <style include="oobe-dialog-host">
      :host {
        --radio-button-height: 120px;
      }

      :host-context(html:not([new-layout])) div[slot='content'] {
        margin: auto 0;
      }

      cr-radio-group {
        display: flex;
      }

      :host-context(html:not([new-layout])) cr-radio-group {
        flex-direction: row;
      }

      :host-context(html[new-layout]) cr-radio-group {
        flex-direction: column;
        margin-top: 8px;
      }

      cr-card-radio-button {
        /* Removes the highlight that appears on tap. It has sharp
         * corners, which don't match the rounded corners of the card. */
        -webkit-tap-highlight-color: transparent;
        border-radius: 16px;
        --cr-button-edge-spacing: 0;
        --cr-card-radio-button-padding: 0;
        --cr-card-radio-button-margin: 0;
        --cr-radio-button-ink-size: 0;
      }

      :host-context(html:not([new-layout])) cr-card-radio-button {
        height: 210px;
        margin-bottom: 20px;
        --cr-card-radio-button-height: 100%;
        --cr-radio-group-item-padding: 8px;
      }

      :host-context(html[new-layout]) cr-card-radio-button {
        height: var(--radio-button-height);
        margin-bottom: 0;
        --cr-card-radio-button-checkmark-top:
            calc(var(--radio-button-height) / 2 - 12px);
        --cr-card-radio-button-checkmark-right: 24px;
        --cr-card-radio-button-height: var(--radio-button-height);
        --cr-card-radio-button-width: 100%;
        --cr-radio-group-item-padding: 0;

      }

      :host-context(html:not([new-layout]))
          cr-card-radio-button:not(:last-child) {
        margin-inline-end: 16px;
      }

      :host-context(html[new-layout]) cr-card-radio-button:not(:last-child) {
        margin-bottom: 16px;
      }

      .card-container {
        align-items: center;
        display: flex;
      }

      :host-context(html:not([new-layout])) .card-container {
        flex-direction: column;
        padding-bottom: 32px;
        padding-inline-end: 16px;
        padding-inline-start: 16px;
        padding-top: 50px;
        text-align: center;
      }

      :host-context(html[new-layout]) .card-container {
        flex-direction: row;
        /* Same height to center button content in vertical dimension. */
        height: var(--radio-button-height);
        padding-bottom: 0;
        padding-inline-end: 48px;
        padding-inline-start: 24px;
        padding-top: 0;
        text-align: start;
      }

      .card-icon {
        --iron-icon-width: 48px;
        --iron-icon-height: 48px;
      }

      :host-context(html[new-layout]) .card-content {
        padding-inline-end: 24px;
        padding-inline-start: 24px;
      }

      .card-label {
        color: var(--oobe-header-text-color);
        font-family: var(--oobe-header-font-family);
        font-weight: 500;
      }

      :host-context(html:not([new-layout])) .card-label {
        font-size: 16px;
        line-height: 24px;
        padding-inline-end: 32px;
        padding-inline-start: 32px;
        padding-top: 16px;
      }

      :host-context(html[new-layout]) .card-label {
        font-size: var(--oobe-radio-card-label-font-size);
        line-height: var(--oobe-radio-card-label-line-height);
      }

      .card-text {
        color: var(--oobe-text-color);
        line-height: 20px;
      }

      :host-context(html:not([new-layout])) .help-text {
        color: var(--oobe-subheader-text-color);
      }

      :host-context(html[new-layout]) .help-text {
        color: var(--oobe-subheader-text-color);
        margin-top: 16px;
      }
    </style>
    <oobe-adaptive-dialog id="userCreationDialog" role="dialog"
        aria-label$="[[i18nDynamic(locale, titleKey_)]]" for-step="create">
      <hd-iron-icon icon1x="oobe-32:googleg" icon2x="oobe-64:googleg"
        slot="icon">
      </hd-iron-icon>
      <h1 slot="title">
        [[i18nDynamic(locale, titleKey_)]]
      </h1>
      <div slot="subtitle">
        [[i18nDynamic(locale, subtitleKey_)]]
      </div>
      <div slot="content" class="layout vertical landscape-vertical-centered">
        <cr-radio-group id="userType" selected="{{selectedUserType}}">
          <cr-card-radio-button id="selfButton" class="flex" name="self">
            <div class="card-container">
              <hd-iron-icon class="card-icon" icon1x="oobe-48:avatar"
                  icon2x="oobe-96:avatar">
              </hd-iron-icon>
              <div class="card-content">
                <div class="card-label">
                  [[i18nDynamic(locale, 'createForSelfLabel')]]
                </div>
                <div class="card-text">
                  [[i18nDynamic(locale, 'createForSelfDescription')]]
                </div>
              </div>
            </div>
          </cr-card-radio-button>
          <cr-card-radio-button id="childButton" class="flex" name="child">
            <div class="card-container">
              <hd-iron-icon class="card-icon" icon1x="oobe-48:child-user"
                icon2x="oobe-96:child-user">
              </hd-iron-icon>
              <div class="card-content">
                <div class="card-label">
                  [[i18nDynamic(locale, 'createForChildLabel')]]
                </div>
                <div class="card-text">
                  [[i18nDynamic(locale, 'createForChildDescription')]]
                </div>
              </div>
            </div>
          </cr-card-radio-button>
        </cr-radio-group>
        </div>
      </div>
      <div slot="back-navigation">
        <oobe-back-button id="backButton" on-click="onBackClicked_"
            hidden="[[!isBackButtonVisible_]]">
        </oobe-back-button>
      </div>
      <div slot="bottom-buttons">
        <oobe-next-button id="nextButton" class="focus-on-show"
            on-click="onNextClicked_">
        </oobe-next-button>
      </div>
    </oobe-adaptive-dialog>
    <oobe-adaptive-dialog id="childSignInDialog" role="dialog" for-step="child"
        aria-label$="[[i18nDynamic(locale, 'childSignInTitle')]]">
      <hd-iron-icon icon1x="oobe-32:family" icon2x="oobe-64:family"
        slot="icon">
      </hd-iron-icon>
      <h1 slot="title">
        [[i18nDynamic(locale, 'childSignInTitle')]]
      </h1>
      <div slot="subtitle">
        [[i18nDynamic(locale, 'childSignInSubtitle')]]
        <a id="learnMoreLink" class="oobe-local-link"
            on-click="onLearnMoreClicked_" is="action-link">
          [[i18nDynamic(locale, 'childSignInLearnMore')]]
        </a>
      </div>
      <div slot="content" class="layout vertical landscape-vertical-centered">
        <cr-radio-group id="childSignInMethod"
            selected="{{selectedSignInMethod}}">
          <cr-card-radio-button id="childCreateButton" name="create"
              class="flex focus-on-show">
            <div class="card-container">
              <hd-iron-icon class="card-icon" icon1x="oobe-48:person-add"
                  icon2x="oobe-96:person-add">
              </hd-iron-icon>
              <div class="card-content card-label">
                [[i18nDynamic(locale, 'createAccountForChildLabel')]]
              </div>
            </div>
          </cr-card-radio-button>
          <cr-card-radio-button id="childSignInButton" name="signin"
              class="flex">
            <div class="card-container">
              <hd-iron-icon class="card-icon" icon1x="oobe-48:supervised-user"
                  icon2x="oobe-96:supervised-user">
              </hd-iron-icon>
              <div class="card-content card-label">
                [[i18nDynamic(locale, 'signInForChildLabel')]]
              </div>
            </div>
          </cr-card-radio-button>
        </cr-radio-group>
        <div class="help-text">
          [[i18nDynamic(locale, 'childSignInParentNotificationText')]]
        </div>
      </div>
      <div slot="back-navigation">
        <oobe-back-button id="childBackButton" on-click="onBackClicked_">
        </oobe-back-button>
      </div>
      <div slot="bottom-buttons">
        <oobe-next-button id="childNextButton" on-click="onNextClicked_"
            disabled="[[!selectedSignInMethod]]">
        </oobe-next-button>
      </div>
    </oobe-adaptive-dialog>
    <oobe-modal-dialog id="learnMoreDialog" on-close="focusLearnMoreLink_"
        title-key="childSignInLearnMoreDialogTitle">
      <div slot="content" class="card-text">
        [[i18nDynamic(locale, 'childSignInLearnMoreDialogText')]]
      </div>
    </oobe-modal-dialog>
  </template>
</dom-module>
