<!-- Copyright 2019 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="chrome://resources/polymer/v1_0/iron-iconset-svg/iron-iconset-svg.html">

<iron-iconset-svg name="oobe-32" size="32">
  <svg>
    <defs>
      <!-- The Google "G" icon. -->
      <g id="googleg" fill="none" fill-rule="evenodd">
        <path d="M30.42 16.83c0-1.03-.092-2.017-.264-2.966H16.5v5.61h7.804c-.336 1.81-1.358 3.347-2.894 4.375v3.637h4.686c2.742-2.524 4.324-6.242 4.324-10.657z" fill="#4285F4"></path>
        <path d="M16.5 31c3.915 0 7.197-1.298 9.596-3.513L21.41 23.85c-1.298.87-2.96 1.383-4.91 1.383-3.777 0-6.973-2.55-8.113-5.978H3.542v3.757C5.928 27.752 10.832 31 16.5 31z" fill="#34A853"></path>
        <path d="M8.387 19.255c-.29-.87-.455-1.8-.455-2.755 0-.956.165-1.885.455-2.755V9.988H3.542C2.56 11.946 2 14.16 2 16.5s.56 4.554 1.542 6.512l4.845-3.757z" fill="#FBBC05"></path>
        <path d="M16.5 7.767c2.13 0 4.04.732 5.543 2.168l4.16-4.158C23.69 3.437 20.407 2 16.5 2 10.832 2 5.928 5.25 3.542 9.988l4.845 3.757c1.14-3.427 4.336-5.978 8.113-5.978z" fill="#EA4335"></path>
        <path d="M2 2h29v29H2"></path>
      </g>
      <g id="enterprise" fill="none" fill-rule="evenodd">
        <path fill="#1A73E8" fill-rule="evenodd" d="M16 10V4H3v24h26V10H16zM8.2 25.3333333H5.6v-2.6666666h2.6v2.6666666zM8.2 20H5.6v-2.6666667h2.6V20zm0-5.3333333H5.6V12h2.6v2.6666667zm0-5.33333337H5.6V6.66666667h2.6v2.66666666zm5.2 15.99999997h-2.6v-2.6666666h2.6v2.6666666zM13.4 20h-2.6v-2.6666667h2.6V20zm0-5.3333333h-2.6V12h2.6v2.6666667zm0-5.33333337h-2.6V6.66666667h2.6v2.66666666zM27.0385742 25.3333333H16v-2.6666666h2.6V20H16v-2.6666667h2.6v-2.6666666H16V12h11.0385742v13.3333333zM23.8 14.6666667h-2.6v2.6666666h2.6v-2.6666666zM23.8 20h-2.6v2.6666667h2.6V20z"></path>
      </g>
      <!-- Blue exclamation mark in circle -->
      <g id="alert" fill-rule="evenodd">
        <defs>
          <path id="a" d="M14.667 20h2.666v2.667h-2.666V20zm0-10.667h2.666v8h-2.666v-8zm1.32-6.666C8.627 2.667 2.667 8.64 2.667 16s5.96 13.333 13.32 13.333c7.373 0 13.346-5.973 13.346-13.333S23.36 2.667 15.987 2.667zm.013 24c-5.893 0-10.667-4.774-10.667-10.667S10.107 5.333 16 5.333 26.667 10.107 26.667 16 21.893 26.667 16 26.667z"></path>
        </defs>
        <g fill="none" fill-rule="evenodd">
          <path d="M0 0h32v32H0z"></path>
          <use fill="#1A73E8" fill-rule="nonzero" xlink:href="#a"></use>
        </g>
      </g>
      <!-- Red exclamation mark in circle -->
      <g id="warning" fill-rule="evenodd">
        <defs>
          <path id="a" d="M14.667 20h2.666v2.667h-2.666V20zm0-10.667h2.666v8h-2.666v-8zm1.32-6.666C8.627 2.667 2.667 8.64 2.667 16s5.96 13.333 13.32 13.333c7.373 0 13.346-5.973 13.346-13.333S23.36 2.667 15.987 2.667zm.013 24c-5.893 0-10.667-4.774-10.667-10.667S10.107 5.333 16 5.333 26.667 10.107 26.667 16 21.893 26.667 16 26.667z"></path>
        </defs>
        <g fill="none" fill-rule="evenodd">
          <path d="M0 0h32v32H0z"></path>
          <use fill="#D93025" fill-rule="nonzero" xlink:href="#a"></use>
        </g>
      </g>
      <g id="lock">
        <defs>
          <path id="a" d="M24 12h-1.333V9.333A6.67 6.67 0 0 0 16 2.667a6.67 6.67 0 0 0-6.667 6.666V12H8a2.675 2.675 0 0 0-2.667 2.667V28c0 1.467 1.2 2.667 2.667 2.667h16c1.467 0 2.667-1.2 2.667-2.667V14.667C26.667 13.2 25.467 12 24 12zM12 9.333c0-2.213 1.787-4 4-4s4 1.787 4 4V12h-8V9.333zM24 28H8V14.667h16V28zm-8-4c1.467 0 2.667-1.2 2.667-2.667 0-1.466-1.2-2.666-2.667-2.666a2.675 2.675 0 0 0-2.667 2.666C13.333 22.8 14.533 24 16 24z">
          </path>
        </defs>
        <g fill="none" fill-rule="evenodd">
          <use fill="#1A73E8" fill-rule="nonzero" xlink:href="#a"></use>
          <path d="M0 0h32v32H0z"></path>
        </g>
      </g>
      <g id="fingerprint" fill-rule="evenodd" fill="none">
        <path d="M20.036 5.029a.603.603 0 0 1-.259-.062c-2.154-1.114-4.027-1.592-6.266-1.592-2.233 0-4.337.534-6.266 1.586a.565.565 0 0 1-.54-.99 14.08 14.08 0 0 1 6.806-1.721c2.397 0 4.489.529 6.784 1.716.276.14.382.483.242.759a.57.57 0 0 1-.5.304zM3.937 10.935a.56.56 0 0 1-.461-.883 11.717 11.717 0 0 1 4.225-3.684c3.538-1.829 8.06-1.834 11.604-.012 1.682.867 3.1 2.093 4.219 3.656a.559.559 0 0 1-.13.782.566.566 0 0 1-.787-.129 10.561 10.561 0 0 0-3.814-3.307c-3.229-1.66-7.352-1.654-10.575.01a10.564 10.564 0 0 0-3.82 3.336.573.573 0 0 1-.46.231zm7.037 13.573a.558.558 0 0 1-.399-.169c-.973-.984-1.502-1.608-2.261-2.964-.777-1.384-1.187-3.077-1.187-4.888 0-3.341 2.857-6.064 6.373-6.064s6.373 2.717 6.373 6.064c0 .31-.253.562-.562.562a.564.564 0 0 1-.563-.562c0-2.723-2.351-4.939-5.248-4.939-2.891 0-5.248 2.216-5.248 4.939 0 1.62.36 3.116 1.04 4.337.726 1.293 1.21 1.85 2.076 2.722.22.22.22.58-.005.793a.504.504 0 0 1-.389.17zm8.061-2.081c-1.339 0-2.514-.338-3.488-.996-1.67-1.136-2.671-2.981-2.671-4.939 0-.309.253-.562.562-.562.31 0 .563.253.563.563 0 1.58.815 3.076 2.182 4.005.793.54 1.727.804 2.852.804.27 0 .726-.028 1.176-.107a.565.565 0 0 1 .652.456.565.565 0 0 1-.456.652 8.055 8.055 0 0 1-1.372.124zm-2.267 2.323a.42.42 0 0 1-.146-.023c-1.794-.489-2.964-1.153-4.18-2.362a8.236 8.236 0 0 1-2.435-5.872c0-1.829 1.552-3.314 3.465-3.314 1.912 0 3.465 1.485 3.465 3.313 0 1.204 1.052 2.189 2.34 2.189 1.288 0 2.34-.98 2.34-2.189 0-4.24-3.656-7.689-8.15-7.689-3.201 0-6.12 1.778-7.437 4.534-.439.911-.658 1.974-.658 3.155 0 .878.079 2.262.748 4.056a.567.567 0 0 1-.332.726.567.567 0 0 1-.726-.332c-.55-1.48-.82-2.93-.82-4.45 0-1.35.258-2.576.77-3.639 1.502-3.139 4.82-5.17 8.449-5.17 5.113 0 9.275 3.955 9.275 8.815 0 1.828-1.558 3.313-3.465 3.313-1.907 0-3.465-1.485-3.465-3.313 0-1.204-1.052-2.188-2.34-2.188-1.288 0-2.34.979-2.34 2.188 0 1.918.748 3.724 2.104 5.074 1.063 1.057 2.098 1.642 3.684 2.076a.564.564 0 0 1 .394.691.559.559 0 0 1-.54.411z" fill="#4285F4"></path>
        <path d="M0 0h27v27H0z"></path>
      </g>
      <g id="gear" fill="none" fill-rule="evenodd">
        <path d="M-3-3h32v32H-3z"></path>
        <path fill="#1A73E8" fill-rule="nonzero" d="M22.52 14.248c.048-.4.08-.816.08-1.248 0-.432-.032-.848-.096-1.248l2.704-2.112a.661.661 0 0 0 .16-.816l-2.56-4.432a.65.65 0 0 0-.784-.288l-3.184 1.28a9.374 9.374 0 0 0-2.16-1.248L16.2.744A.639.639 0 0 0 15.56.2h-5.12a.623.623 0 0 0-.624.544l-.48 3.392a9.625 9.625 0 0 0-2.16 1.248l-3.184-1.28a.633.633 0 0 0-.784.288L.648 8.824a.62.62 0 0 0 .16.816l2.704 2.112c-.064.4-.112.832-.112 1.248 0 .416.032.848.096 1.248L.792 16.36a.661.661 0 0 0-.16.816l2.56 4.432a.65.65 0 0 0 .784.288l3.184-1.28a9.374 9.374 0 0 0 2.16 1.248l.48 3.392a.65.65 0 0 0 .64.544h5.12c.32 0 .592-.224.624-.544l.48-3.392a9.625 9.625 0 0 0 2.16-1.248l3.184 1.28c.288.112.624 0 .784-.288l2.56-4.432a.62.62 0 0 0-.16-.816l-2.672-2.112zM13 17.8c-2.64 0-4.8-2.16-4.8-4.8 0-2.64 2.16-4.8 4.8-4.8 2.64 0 4.8 2.16 4.8 4.8 0 2.64-2.16 4.8-4.8 4.8z"></path>
      </g>
      <g id="chromebook">
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(35.294118%,35.294118%,35.294118%);fill-opacity:1;" d="M 26.667969 22.667969 C 28.132812 22.667969 29.320312 21.464844 29.320312 20 L 29.332031 6.667969 C 29.332031 5.199219 28.132812 4 26.667969 4 L 5.332031 4 C 3.867188 4 2.667969 5.199219 2.667969 6.667969 L 2.667969 20 C 2.667969 21.464844 3.867188 22.667969 5.332031 22.667969 Z M 5.332031 6.667969 L 26.667969 6.667969 L 26.667969 20 L 5.332031 20 Z M 6.226562 24 L 1.332031 24 L 1.332031 26.667969 L 30.667969 26.667969 L 30.667969 24 L 25.773438 24 ">
        </path>
      </g>
      <g id="computer" fill="none" fill-rule="evenodd">
        <path d="M0-4h32v32H0z"></path>
        <path fill="#1A73E8" fill-rule="nonzero"d="M29 20V0H3v20H0v3h32v-3h-3zm-10.333 0h-5.334v-1.333h5.334V20zM26 16H6V3h20v13z"></path>
        <path fill="#1A73E8" d="M16.97 8.129L16 5l-.97 3.129H12l2.47 1.836L13.53 13 16 11.123 18.47 13l-.94-3.035L20 8.129z"></path>
      </g>
      <g id="checkmark" fill="none" fill-rule="evenodd">
        <path fill="#1A73E8" fill-rule="nonzero" d="M11.467 22.133l-5.6-5.6L4 18.4l7.467 7.467 16-16L25.6 8z"></path>
        <path d="M0 0h32v32H0z"></path>
      </g>
      <g id="checkmarkv2" fill="none">
        <path d="M21.9314 11.6686c-.6249-.6248-1.6379-.6248-2.2628 0L14.4 16.9373l-2.0686-2.0687c-.6249-.6248-1.6379-.6248-2.2628 0-.6248.6249-.6248 1.6379 0 2.2628l3.2 3.2c.6249.6248 1.6379.6248 2.2628 0l6.4-6.4c.6248-.6249.6248-1.6379 0-2.2628z" fill="#1A73E8"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 28.8c7.0693 0 12.8-5.7308 12.8-12.8 0-7.0693-5.7307-12.8-12.8-12.8C8.9308 3.2 3.2 8.9307 3.2 16c0 7.0692 5.7308 12.8 12.8 12.8zm0-3.2c5.3019 0 9.6-4.2981 9.6-9.6S21.3019 6.4 16 6.4 6.4 10.6981 6.4 16s4.2981 9.6 9.6 9.6z" fill="#1A73E8"></path>
      </g>
      <g id="checkcircle" fill="none" fill-rule="evenodd">
        <path fill="#5BB974" fill-rule="nonzero"  d="M 16,2.6667 C 8.6400184,2.6667 2.6667,8.640018 2.6667,16 2.6667,23.359982 8.6400184,29.3333 16,29.3333 23.359982,29.3333 29.3333,23.359982 29.3333,16 29.3333,8.640018 23.359982,2.6667 16,2.6667 Z m 0,23.99994 C 10.120015,26.66664 5.33336,21.879985 5.33336,16 5.33336,10.120015 10.120015,5.33336 16,5.33336 c 5.879985,0 10.66664,4.786655 10.66664,10.66664 0,5.879985 -4.786655,10.66664 -10.66664,10.66664 z M 13.33334,18.933326 9.866682,15.466668 8.00002,17.33333 13.33334,22.66665 23.99998,12.00001 22.133318,10.133348 Z"></path>
        <path d="M 0,8 H 24 V 32 H 0 Z"></path>
      </g>
      <g id="avatar" fill="none" fill-rule="evenodd">
        <path fill="#fff" d="M0 0h32v32H0z"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 2.667C8.64 2.667 2.667 8.64 2.667 16S8.64 29.333 16 29.333 29.333 23.36 29.333 16 23.36 2.667 16 2.667zm8.48 19.773c-1.907-2.32-6.533-3.107-8.48-3.107s-6.573.787-8.48 3.107A10.6 10.6 0 015.333 16C5.333 10.12 10.12 5.333 16 5.333S26.667 10.12 26.667 16a10.6 10.6 0 01-2.187 6.44zM16 8a4.655 4.655 0 00-4.667 4.667A4.655 4.655 0 0016 17.333a4.655 4.655 0 004.667-4.666A4.655 4.655 0 0016 8z" fill="#1A73E8"></path>
      </g>
      <g id="family" fill="none" fill-rule="evenodd">
        <path fill="#4285F4" d="M15.917 1.333c-.484 0-.967.184-1.35.534l-10.75 9.9c-.4.366-.617.85-.634 1.35l6.784 1.066L15.917 12l1.666-4.767-1.666-5.9z"></path>
        <path fill="#BDC1C6" d="M18.267 21.45l-7.034 9.217H14.9c.617 0 1.2-.284 1.583-.784l6.434-8.433h-4.65zM3.2 24.017c-.617 0-1.2.283-1.583.783l-.284.383 1.984.45 1.166 1.517 2.4-3.133H3.2z"></path>
        <path fill="#34A853" d="M15.917 12L3.183 13.117c-.033.466.1.933.4 1.333l3.734 4.883 1.016 1.334 4.284 1.283 3.3-1.95 1.666-4-1.666-4z"></path>
        <path fill="#FBBC04" d="M8.333 20.667l6.017 7.883c.4.517.983.783 1.583.783l1.667-4.8L15.933 20l-7.6.667z"></path>
        <path fill="#DADCE0" d="M14.9 30.667c-.617 0-1.2-.284-1.583-.784l-3.9-5.1A1.989 1.989 0 007.833 24H3.2c.617 0 1.2.283 1.583.783l3.9 5.1c.384.5.967.784 1.584.784H14.9z"></path>
        <path fill="#669DF6" d="M28.667 13.117a2.28 2.28 0 00-.15-.667c-.1-.25-.267-.483-.484-.683L17.283 1.85a2.06 2.06 0 00-1.366-.517V12l6.366 2.233 6.384-1.116z"></path>
        <path fill="#5BB974" d="M28.667 13.117L15.917 12v8l3.683 1.95 3.917-1.283 1.016-1.334 3.717-4.866c.317-.4.433-.884.417-1.35z"></path>
        <path fill="#FCC934" d="M15.917 29.333c.583 0 1.183-.266 1.583-.783l6.017-7.883-7.6-.667v9.333z"></path>
      </g>
    </defs>
  </svg>
</iron-iconset-svg>

<iron-iconset-svg name="oobe-48" size="48">
  <svg>
    <defs>
      <g id="avatar" fill="none" fill-rule="evenodd">
        <path fill="#fff" d="M0 0h48v48H0z"></path>
        <path fill="#1A73E8" fill-rule="evenodd" d="M24 13.2a6.284 6.284 0 00-6.3 6.3c0 3.492 2.808 6.3 6.3 6.3s6.3-2.808 6.3-6.3-2.808-6.3-6.3-6.3zm-2.7 6.3c0 1.494 1.206 2.7 2.7 2.7 1.494 0 2.7-1.206 2.7-2.7 0-1.494-1.206-2.7-2.7-2.7a2.696 2.696 0 00-2.7 2.7z"></path>
        <path fill="#1A73E8" fill-rule="evenodd" d="M24 4.8C13.402 4.8 4.8 13.402 4.8 24c0 10.598 8.602 19.2 19.2 19.2 10.598 0 19.2-8.602 19.2-19.2 0-10.598-8.602-19.2-19.2-19.2zm-8.874 30.504C15.9 33.684 20.616 32.1 24 32.1c3.384 0 8.118 1.584 8.874 3.204A14.207 14.207 0 0124 38.4a14.207 14.207 0 01-8.874-3.096zM24 28.5c2.628 0 8.874 1.062 11.448 4.194C37.284 30.282 38.4 27.276 38.4 24c0-7.938-6.462-14.4-14.4-14.4-7.938 0-14.4 6.462-14.4 14.4 0 3.276 1.116 6.282 2.952 8.694C15.126 29.562 21.372 28.5 24 28.5z"></path>
      </g>
      <g id="child-user" fill="none" fill-rule="evenodd">
        <path fill="#fff" d="M0 0h48v48H0z"></path>
        <path fill="#1A73E8" fill-rule="evenodd" d="M24 3.556c3.3 0 6 2.7 6 6s-2.7 6-6 6-6-2.7-6-6 2.7-6 6-6zm-13 21.22c0-4.1 6.84-7.22 13-7.22s13 3.12 13 7.22v11.54c0 2.32-2.18 4.34-5.2 5.64v-4.46c0-1.88-2.42-3.42-5.2-4.04-.86-.2-1.74-.3-2.6-.3-3.34 0-7.02 1.54-7.68 3.66 2.3.96 5.04 1.54 7.68 1.54.66 0 1.34-.06 2-.14v5.2c-.66.08-1.34.14-2 .14-2.68 0-5.48-.6-7.8-1.6-3.02-1.32-5.2-3.32-5.2-5.64v-11.54zm17 .78a4 4 0 11-8 0 4 4 0 018 0z"></path>
      </g>
      <g id="person-add" fill="none" fill-rule="evenodd">
        <path fill="#fff" d="M0 0h48v48H0z"></path>
        <path fill="#1A73E8" fill-rule="evenodd" d="M18 24c4.42 0 8-3.58 8-8s-3.58-8-8-8-8 3.58-8 8 3.58 8 8 8zm0-12c2.2 0 4 1.8 4 4s-1.8 4-4 4-4-1.8-4-4 1.8-4 4-4zM2 34c0-5.32 10.66-8 16-8s16 2.68 16 8v6H2v-6zm4 2v-1.98C6.4 32.58 12.6 30 18 30s11.6 2.58 12 4v2H6zm30-14v6h4v-6h6v-4h-6v-6h-4v6h-6v4h6z"></path>
      </g>
      <g id="supervised-user" fill="none" fill-rule="evenodd">
        <path fill="#fff" d="M0 0h48v48H0z"></path>
        <path fill="#1A73E8" fill-rule="evenodd" d="M24 4C12.96 4 4 12.96 4 24s8.96 20 20 20 20-8.96 20-20S35.04 4 24 4zm-5.28 8c-3.88 0-7 3.12-7 7s3.12 7 7 7 7-3.12 7-7-3.12-7-7-7zm0 10c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zM37 25a5 5 0 11-10 0 5 5 0 0110 0zm-5 6.24c1.52 0 3.7.36 5.66 1.04C39.14 29.86 40 27.04 40 24c0-8.82-7.18-16-16-16S8 15.18 8 24c0 2.54.6 4.94 1.66 7.08 3.18-1.48 7.06-2.06 9.06-2.06.98 0 2.44.14 4.04.46-1.64.88-3.08 2.02-3.92 3.54h-.12c-2.16 0-4.8.58-6.82 1.42 2.52 2.92 6.08 4.92 10.1 5.42v-3.62c0-.98.6-1.82 1.5-2.52.34-.26.72-.48 1.12-.7.01 0 .015-.005.02-.01.005-.005.01-.01.02-.01.4-.2.84-.4 1.3-.58.92-.36 1.92-.62 2.88-.82 1.16-.24 2.28-.36 3.16-.36z"></path>
      </g>
    </defs>
    </svg>
</iron-iconset-svg>

<iron-iconset-svg name="oobe-64" size="64">
  <svg>
    <defs>
      <!-- The Google "G" icon. -->
      <g id="googleg" fill="none" fill-rule="evenodd">
        <path d="M59.84 32.66c0-2.057-.185-4.035-.527-5.933H32v11.218h15.607c-.672 3.625-2.715 6.696-5.787 8.753v7.276h9.373c5.483-5.05 8.647-12.483 8.647-21.315z" fill="#4285F4"></path>
        <path d="M32 61c7.83 0 14.395-2.597 19.193-7.026l-9.373-7.276c-2.596 1.74-5.918 2.768-9.82 2.768-7.553 0-13.946-5.1-16.227-11.956H6.085v7.514C10.855 54.5 20.665 61 32 61z" fill="#34A853"></path>
        <path d="M15.773 37.51c-.58-1.74-.91-3.6-.91-5.51 0-1.91.33-3.77.91-5.51v-7.514H6.085C4.12 22.89 3 27.32 3 32s1.12 9.11 3.085 13.024l9.688-7.514z" fill="#FBBC05"></path>
        <path d="M32 14.534c4.258 0 8.08 1.463 11.086 4.337l8.318-8.317C46.38 5.873 39.817 3 32 3 20.664 3 10.856 9.5 6.085 18.976l9.688 7.514c2.28-6.855 8.674-11.956 16.227-11.956z" fill="#EA4335"></path>
        <path d="M3 3h58v58H3"></path>
      </g>
      <g id="enterprise" fill="none" fill-rule="evenodd">
        <path fill="#1A73E8" fill-rule="evenodd"d="M32 20V8H6v48h52V20H32zM16.4 50.6666667h-5.2v-5.3333334h5.2v5.3333334zM16.4 40h-5.2v-5.3333333h5.2V40zm0-10.6666667h-5.2V24h5.2v5.3333333zm0-10.6666666h-5.2v-5.3333334h5.2v5.3333334zm10.4 32h-5.2v-5.3333334h5.2v5.3333334zM26.8 40h-5.2v-5.3333333h5.2V40zm0-10.6666667h-5.2V24h5.2v5.3333333zm0-10.6666666h-5.2v-5.3333334h5.2v5.3333334zm27.2771484 32H32v-5.3333334h5.2V40H32v-5.3333333h5.2v-5.3333334H32V24h22.0771484v26.6666667zM47.6 29.3333333h-5.2v5.3333334h5.2v-5.3333334zM47.6 40h-5.2v5.3333333h5.2V40z"></path>
      </g>
      <!-- Blue exclamation mark in circle -->
      <g id="alert" fill-rule="evenodd">
        <defs>
          <path id="a" d="M29.333 40h5.334v5.333h-5.334V40zm0-21.333h5.334v16h-5.334v-16zm2.64-13.334C17.253 5.333 5.333 17.28 5.333 32c0 14.72 11.92 26.667 26.64 26.667C46.72 58.667 58.667 46.72 58.667 32c0-14.72-11.947-26.667-26.694-26.667zm.027 48c-11.787 0-21.333-9.546-21.333-21.333 0-11.787 9.546-21.333 21.333-21.333 11.787 0 21.333 9.546 21.333 21.333 0 11.787-9.546 21.333-21.333 21.333z"></path>
        </defs>
        <g fill="none" fill-rule="evenodd">
          <path d="M0 0h64v64H0z"></path>
          <use fill="#1A73E8" fill-rule="nonzero" xlink:href="#a"></use>
        </g>
      </g>
      <!-- Red exclamation mark in circle -->
      <g id="warning" fill-rule="evenodd">
        <defs>
          <path id="a" d="M29.333 40h5.334v5.333h-5.334V40zm0-21.333h5.334v16h-5.334v-16zm2.64-13.334C17.253 5.333 5.333 17.28 5.333 32c0 14.72 11.92 26.667 26.64 26.667C46.72 58.667 58.667 46.72 58.667 32c0-14.72-11.947-26.667-26.694-26.667zm.027 48c-11.787 0-21.333-9.546-21.333-21.333 0-11.787 9.546-21.333 21.333-21.333 11.787 0 21.333 9.546 21.333 21.333 0 11.787-9.546 21.333-21.333 21.333z"></path>
        </defs>
        <g fill="none" fill-rule="evenodd">
          <path d="M0 0h64v64H0z"></path>
          <use fill="#D93025" fill-rule="nonzero" xlink:href="#a"></use>
        </g>
      </g>
      <g id="lock">
        <defs>
          <path id="a" d="M48 24h-2.667v-5.333c0-7.36-5.973-13.334-13.333-13.334s-13.333 5.974-13.333 13.334V24H16c-2.933 0-5.333 2.4-5.333 5.333V56c0 2.933 2.4 5.333 5.333 5.333h32c2.933 0 5.333-2.4 5.333-5.333V29.333C53.333 26.4 50.933 24 48 24zm-24-5.333c0-4.427 3.573-8 8-8s8 3.573 8 8V24H24v-5.333zM48 56H16V29.333h32V56zm-16-8c2.933 0 5.333-2.4 5.333-5.333 0-2.934-2.4-5.334-5.333-5.334-2.933 0-5.333 2.4-5.333 5.334C26.667 45.6 29.067 48 32 48z"></path>
        </defs>
        <g fill="none" fill-rule="evenodd">
          <use fill="#1A73E8" fill-rule="nonzero" xlink:href="#a"></use>
          <path d="M0 0h64v64H0z"></path>
        </g>
      </g>
      <g id="fingerprint" fill-rule="evenodd" fill="none">
        <path d="M40.072 10.057c-.18 0-.348-.045-.517-.123C35.246 7.706 31.5 6.75 27.023 6.75c-4.467 0-8.674 1.069-12.533 3.172a1.129 1.129 0 0 1-1.53-.45 1.129 1.129 0 0 1 .45-1.53C17.606 5.66 22.185 4.5 27.023 4.5 31.815 4.5 36 5.558 40.59 7.931c.551.282.765.968.484 1.519a1.139 1.139 0 0 1-1.002.607zM7.875 21.87c-.225 0-.45-.068-.652-.203a1.12 1.12 0 0 1-.27-1.563 23.434 23.434 0 0 1 8.448-7.369c7.076-3.656 16.122-3.667 23.209-.022 3.364 1.732 6.199 4.185 8.438 7.312.36.506.247 1.204-.26 1.564a1.131 1.131 0 0 1-1.574-.259c-2.025-2.835-4.59-5.063-7.628-6.615-6.457-3.319-14.703-3.307-21.15.023a21.128 21.128 0 0 0-7.639 6.67 1.145 1.145 0 0 1-.922.462zm14.074 27.146c-.293 0-.574-.112-.799-.337-1.946-1.969-3.004-3.218-4.522-5.929-1.553-2.767-2.374-6.154-2.374-9.776 0-6.683 5.715-12.128 12.746-12.128 7.031 0 12.746 5.434 12.746 12.128 0 .619-.506 1.125-1.125 1.125a1.128 1.128 0 0 1-1.125-1.125c0-5.445-4.702-9.878-10.496-9.878-5.782 0-10.496 4.433-10.496 9.878 0 3.24.72 6.232 2.081 8.674 1.451 2.587 2.419 3.7 4.151 5.444a1.11 1.11 0 0 1-.011 1.587 1.009 1.009 0 0 1-.776.337zm16.121-4.162c-2.678 0-5.029-.675-6.975-1.992-3.341-2.272-5.344-5.962-5.344-9.877 0-.619.506-1.125 1.125-1.125s1.125.506 1.125 1.125c0 3.161 1.631 6.154 4.365 8.01 1.587 1.08 3.454 1.609 5.704 1.609.54 0 1.451-.056 2.351-.214a1.13 1.13 0 0 1 1.305.911 1.13 1.13 0 0 1-.911 1.305 16.11 16.11 0 0 1-2.745.248zM33.536 49.5a.839.839 0 0 1-.292-.045c-3.589-.979-5.929-2.306-8.359-4.725a16.472 16.472 0 0 1-4.871-11.745c0-3.656 3.105-6.626 6.93-6.626 3.825 0 6.93 2.97 6.93 6.626 0 2.407 2.103 4.376 4.68 4.376 2.576 0 4.68-1.957 4.68-4.376 0-8.482-7.313-15.379-16.302-15.379-6.4 0-12.24 3.555-14.872 9.068-.878 1.822-1.316 3.948-1.316 6.311 0 1.755.157 4.523 1.496 8.111a1.133 1.133 0 0 1-.664 1.452 1.133 1.133 0 0 1-1.451-.664c-1.102-2.959-1.643-5.861-1.643-8.899 0-2.7.518-5.152 1.542-7.279 3.004-6.277 9.641-10.338 16.897-10.338 10.227 0 18.551 7.908 18.551 17.628 0 3.657-3.116 6.627-6.93 6.627-3.813 0-6.93-2.97-6.93-6.627 0-2.407-2.103-4.376-4.68-4.376-2.576 0-4.68 1.957-4.68 4.376 0 3.837 1.497 7.448 4.208 10.148 2.126 2.115 4.196 3.285 7.369 4.151.596.169.956.788.787 1.384a1.117 1.117 0 0 1-1.08.821z" fill="#4285F4"></path>
        <path d="M0 0h54v54H0z"></path>
      </g>
      <g id="gear" fill="none" fill-rule="evenodd">
        <path d="M0 0h64v64H0z"></path>
        <path fill="#1A73E8" fill-rule="nonzero" d="M51.04 34.496c.096-.8.16-1.632.16-2.496 0-.864-.064-1.696-.192-2.496l5.408-4.224c.48-.384.608-1.088.32-1.632l-5.12-8.864c-.32-.576-.992-.768-1.568-.576l-6.368 2.56c-1.344-1.024-2.752-1.856-4.32-2.496l-.96-6.784A1.277 1.277 0 0 0 37.12 6.4H26.88c-.64 0-1.152.448-1.248 1.088l-.96 6.784c-1.568.64-3.008 1.504-4.32 2.496l-6.368-2.56a1.265 1.265 0 0 0-1.568.576l-5.12 8.864c-.32.576-.192 1.248.32 1.632l5.408 4.224c-.128.8-.224 1.664-.224 2.496 0 .832.064 1.696.192 2.496L7.584 38.72c-.48.384-.608 1.088-.32 1.632l5.12 8.864c.32.576.992.768 1.568.576l6.368-2.56c1.344 1.024 2.752 1.856 4.32 2.496l.96 6.784c.128.64.64 1.088 1.28 1.088h10.24c.64 0 1.184-.448 1.248-1.088l.96-6.784c1.568-.64 3.008-1.504 4.32-2.496l6.368 2.56c.576.224 1.248 0 1.568-.576l5.12-8.864c.32-.576.192-1.248-.32-1.632l-5.344-4.224zM32 41.6c-5.28 0-9.6-4.32-9.6-9.6 0-5.28 4.32-9.6 9.6-9.6 5.28 0 9.6 4.32 9.6 9.6 0 5.28-4.32 9.6-9.6 9.6z"></path>
      </g>
      <g id="chromebook">
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(35.294118%,35.294118%,35.294118%);fill-opacity:1;" d="M 53.332031 45.332031 C 56.265625 45.332031 58.640625 42.933594 58.640625 40 L 58.667969 13.332031 C 58.667969 10.398438 56.265625 8 53.332031 8 L 10.667969 8 C 7.734375 8 5.332031 10.398438 5.332031 13.332031 L 5.332031 40 C 5.332031 42.933594 7.734375 45.332031 10.667969 45.332031 Z M 10.667969 13.332031 L 53.332031 13.332031 L 53.332031 40 L 10.667969 40 Z M 12.453125 48 L 2.667969 48 L 2.667969 53.332031 L 61.332031 53.332031 L 61.332031 48 L 51.546875 48 ">
        </path>
      </g>
      <g id="computer" fill="none" fill-rule="evenodd">
        <path d="M0 0h64v64H0z"></path>
        <path fill="#1A73E8" fill-rule="nonzero" d="M58 48V8H6v40H0v6h64v-6h-6zm-20.667 0H26.667v-2.667h10.666V48zM52 40H12V14h40v26z"></path>
        <path fill="#1A73E8" d="M33.94 24.258L32 18l-1.94 6.258H24l4.94 3.672L27.06 34 32 30.245 36.94 34l-1.88-6.07L40 24.258z"></path>
      </g>
      <g id="checkmark" fill="none" fill-rule="evenodd">
        <path fill="#1A73E8" fill-rule="nonzero" d="M22.933 44.267l-11.2-11.2L8 36.8l14.933 14.933 32-32L51.2 16z"></path>
        <path d="M0 0h64v64H0z"></path>
      </g>
      <g id="checkmarkv2" fill="none">
        <path d="M43.8628 23.3373c-1.2497-1.2497-3.2758-1.2497-4.5255 0L28.8 33.8745l-4.1372-4.1372c-1.2497-1.2497-3.2758-1.2497-4.5255 0-1.2497 1.2496-1.2497 3.2758 0 4.5254l6.4 6.4c1.2497 1.2497 3.2758 1.2497 4.5255 0l12.8-12.8c1.2496-1.2496 1.2496-3.2758 0-4.5254z" fill="#1A73E8"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M32 57.6c14.1385 0 25.6-11.4615 25.6-25.6C57.6 17.8615 46.1385 6.4 32 6.4 17.8615 6.4 6.4 17.8615 6.4 32c0 14.1385 11.4615 25.6 25.6 25.6zm0-6.4c10.6039 0 19.2-8.5961 19.2-19.2S42.6039 12.8 32 12.8c-10.6038 0-19.2 8.5961-19.2 19.2S21.3962 51.2 32 51.2z" fill="#1A73E8"></path>
      </g>
      <g id="checkcircle" fill="none" fill-rule="evenodd">
        <path fill="#5BB974" fill-rule="nonzero" d="M 32,5.3334 C 17.280037,5.3334 5.3334,17.280036 5.3334,32 5.3334,46.719964 17.280037,58.6666 32,58.6666 46.719964,58.6666 58.6666,46.719964 58.6666,32 58.6666,17.280036 46.719964,5.3334 32,5.3334 Z m 0,47.99988 C 20.24003,53.33328 10.66672,43.75997 10.66672,32 10.66672,20.24003 20.24003,10.66672 32,10.66672 43.75997,10.66672 53.33328,20.24003 53.33328,32 53.33328,43.75997 43.75997,53.33328 32,53.33328 Z M 26.66668,37.866652 19.733364,30.933336 16.00004,34.66666 26.66668,45.3333 47.99996,24.00002 44.266636,20.266696 Z"></path>
        <path d="m -14.66665,30.66665 h 48 v 48 h -48 z"></path>
      </g>
      <g id="avatar" fill="none" fill-rule="evenodd">
        <path fill="#fff" d="M0 0h64v64H0z"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M32 5.333C17.28 5.333 5.333 17.28 5.333 32 5.333 46.72 17.28 58.667 32 58.667c14.72 0 26.667-11.947 26.667-26.667C58.667 17.28 46.72 5.333 32 5.333zM48.96 44.88c-3.813-4.64-13.067-6.213-16.96-6.213-3.893 0-13.147 1.573-16.96 6.213-2.72-3.573-4.373-8.027-4.373-12.88 0-11.76 9.573-21.333 21.333-21.333 11.76 0 21.333 9.573 21.333 21.333 0 4.853-1.653 9.307-4.373 12.88zM32 16a9.31 9.31 0 00-9.333 9.333A9.31 9.31 0 0032 34.667a9.31 9.31 0 009.333-9.334A9.31 9.31 0 0032 16z" fill="#1A73E8"></path>
      </g>
      <g id="family" fill="none" fill-rule="evenodd">
        <path fill="#4285F4" d="M31.833 2.667c-.966 0-1.933.366-2.7 1.066l-21.5 19.8c-.8.734-1.233 1.7-1.266 2.7l13.566 2.134L31.833 24l3.334-9.533-3.334-11.8z"></path>
        <path fill="#BDC1C6" d="M36.533 42.9L22.467 61.333H29.8c1.233 0 2.4-.566 3.167-1.566L45.833 42.9h-9.3zM6.4 48.033c-1.233 0-2.4.567-3.167 1.567l-.566.767 3.966.9L8.967 54.3l4.8-6.267H6.4z"></path>
        <path fill="#34A853" d="M31.833 24L6.367 26.233c-.067.934.2 1.867.8 2.667l7.466 9.767 2.034 2.666 8.566 2.567 6.6-3.9 3.334-8-3.334-8z"></path>
        <path fill="#FBBC04" d="M16.667 41.333L28.7 57.1a3.976 3.976 0 003.167 1.567l3.333-9.6L31.867 40l-15.2 1.333z"></path>
        <path fill="#DADCE0" d="M29.8 61.333c-1.233 0-2.4-.566-3.167-1.566l-7.8-10.2A3.978 3.978 0 0015.667 48H6.4c1.233 0 2.4.567 3.167 1.567l7.8 10.2a3.978 3.978 0 003.166 1.566H29.8z"></path>
        <path fill="#669DF6" d="M57.333 26.233a4.555 4.555 0 00-.3-1.333c-.2-.5-.533-.967-.966-1.367L34.567 3.7a4.12 4.12 0 00-2.734-1.033V24l12.734 4.467 12.766-2.234z"></path>
        <path fill="#5BB974" d="M57.333 26.233L31.833 24v16l7.367 3.9 7.833-2.567 2.034-2.666 7.433-9.734c.633-.8.867-1.766.833-2.7z"></path>
        <path fill="#FCC934" d="M31.833 58.667A4.023 4.023 0 0035 57.1l12.033-15.767L31.833 40v18.667z"></path>
      </g>
    </defs>
  </svg>
</iron-iconset-svg>

<iron-iconset-svg name="oobe-96" size="96">
  <svg>
    <defs>
      <g id="avatar" fill="none" fill-rule="evenodd">
        <path fill="#fff" d="M0 0h96v96H0z"></path>
        <path fill="#1A73E8" fill-rule="evenodd" d="M48 26.4c-6.984 0-12.6 5.616-12.6 12.6S41.016 51.6 48 51.6 60.6 45.984 60.6 39 54.984 26.4 48 26.4zM42.6 39c0 2.988 2.412 5.4 5.4 5.4 2.988 0 5.4-2.412 5.4-5.4 0-2.988-2.412-5.4-5.4-5.4a5.393 5.393 0 00-5.4 5.4z"></path>
        <path fill="#1A73E8" fill-rule="evenodd" d="M48 9.6C26.803 9.6 9.6 26.803 9.6 48S26.803 86.4 48 86.4 86.4 69.197 86.4 48 69.197 9.6 48 9.6zM30.252 70.608C31.8 67.368 41.232 64.2 48 64.2c6.768 0 16.236 3.168 17.748 6.408A28.414 28.414 0 0148 76.8a28.414 28.414 0 01-17.748-6.192zM48 57c5.256 0 17.748 2.124 22.896 8.388C74.568 60.564 76.8 54.552 76.8 48c0-15.876-12.924-28.8-28.8-28.8-15.876 0-28.8 12.924-28.8 28.8 0 6.552 2.232 12.564 5.904 17.388C30.252 59.124 42.744 57 48 57z"></path>
      </g>
      <g id="child-user" fill="none" fill-rule="evenodd">
        <path fill="#fff" d="M0 0h96v96H0z"></path>
        <path fill="#1A73E8" fill-rule="evenodd" d="M48 7.556c6.6 0 12 5.4 12 12s-5.4 12-12 12-12-5.4-12-12 5.4-12 12-12zm-26 42.44c0-8.2 13.68-14.44 26-14.44s26 6.24 26 14.44v23.08c0 4.64-4.36 8.68-10.4 11.28v-8.92c0-3.76-4.84-6.84-10.4-8.08-1.72-.4-3.48-.6-5.2-.6-6.68 0-14.04 3.08-15.36 7.32 4.6 1.92 10.08 3.08 15.36 3.08 1.32 0 2.68-.12 4-.28v10.4c-1.32.16-2.68.28-4 .28-5.36 0-10.96-1.2-15.6-3.2-6.04-2.64-10.4-6.64-10.4-11.28v-23.08zm34 1.56a8 8 0 11-16 0 8 8 0 0116 0z"></path>
      </g>
      <g id="person-add" fill="none" fill-rule="evenodd">
        <path fill="#fff" d="M0 0h96v96H0z"></path>
        <path fill="#1A73E8" fill-rule="evenodd" d="M36 48c8.84 0 16-7.16 16-16s-7.16-16-16-16-16 7.16-16 16 7.16 16 16 16zm0-24c4.4 0 8 3.6 8 8s-3.6 8-8 8-8-3.6-8-8 3.6-8 8-8zM4 68c0-10.64 21.32-16 32-16s32 5.36 32 16v12H4V68zm8 4v-3.96C12.8 65.16 25.2 60 36 60s23.2 5.16 24 8v4H12zm60-28v12h8V44h12v-8H80V24h-8v12H60v8h12z"></path>
      </g>
      <g id="supervised-user" fill="none" fill-rule="evenodd">
        <path fill="#fff" d="M0 0h96v96H0z"></path>
        <path fill="#1A73E8" fill-rule="evenodd" d="M48 8C25.92 8 8 25.92 8 48s17.92 40 40 40 40-17.92 40-40S70.08 8 48 8zM37.44 24c-7.76 0-14 6.24-14 14s6.24 14 14 14 14-6.24 14-14-6.24-14-14-14zm0 20c-3.32 0-6-2.68-6-6s2.68-6 6-6 6 2.68 6 6-2.68 6-6 6zM74 50c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10 10 4.477 10 10zM64 62.48c3.04 0 7.4.72 11.32 2.08C78.28 59.72 80 54.08 80 48c0-17.64-14.36-32-32-32S16 30.36 16 48c0 5.08 1.2 9.88 3.32 14.16 6.36-2.96 14.12-4.12 18.12-4.12 1.96 0 4.88.28 8.08.92-3.28 1.76-6.16 4.04-7.84 7.08h-.24c-4.32 0-9.6 1.16-13.64 2.84 5.04 5.84 12.16 9.84 20.2 10.84v-7.24c0-1.96 1.2-3.64 3-5.04.68-.52 1.44-.96 2.24-1.4.02 0 .03-.01.04-.02.01-.01.02-.02.04-.02.8-.4 1.68-.8 2.6-1.16 1.84-.72 3.84-1.24 5.76-1.64 2.32-.48 4.56-.72 6.32-.72z"></path>
      </g>
    </defs>
    </svg>
</iron-iconset-svg>
