<!--
Copyright 2013 The Chromium Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->
<div>
  <h2>Detection Logs <button id="detection-logs-dump">Dump</button></h2>
  <table>
    <thead>
      <tr>
        <th class="detection-logs-time">Time</th>
        <th class="detection-logs-url">URL</th>
        <th class="detection-logs-content-language">
          Content-Language
        </th>
        <th class="detection-logs-html-root-language">
          html lang attribute
        </th>
        <th class="detection-logs-cld-language">
          Model Language
        </th>
        <th class="detection-logs-detection-model-version">
          Model version
        </th>
        <th class="detection-logs-model-reliability">
          Model score
        </th>
        <th class="detection-logs-is-cld-reliable">
          Is model reliable?
        </th>
        <th class="detection-logs-has-notranslate">
          notranslate meta
        </th>
        <th class="detection-logs-adopted-language">Adopted language</th>
        <th class="detection-logs-content">Content</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
