<!--
Copyright 2013 The Chromium Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->
<div>
  <section id="prefs-blocked-languages">
    <h2>Languages not translated (New)</h2>
    <ul></ul>
  </section>
  <section id="prefs-language-blacklist">
    <h2>Languages not translated<span> (Old)</span></h2>
    <ul></ul>
  </section>
  <section id="prefs-site-blacklist">
    <h2>Sites not translated</h2>
    <ul></ul>
  </section>
  <section id="prefs-whitelists">
    <h2>Languages always translated</h2>
    <ul></ul>
  </section>
  <section id="prefs-cld-version">
    <h2>Language Detection Model Version</h2>
    <p>$i18n{model-version}</p>
  </section>
  <section id="prefs-supported-languages">
    <h2>Supported languages</h2>
    <p id="prefs-supported-languages-last-updated">Last updated: <span></span></p>
    <ul id="prefs-supported-languages-languages"></ul>
  </section>
  <section>
    <h2>UX</h2>
    <p id="prefs-too-often-denied">Refrain from showing the translation prompt</p>
  </section>
</div>
<div>
  <section id="prefs-dump">
    <h2>Dump</h2>
    <p class="dump"><p>
  </section>
  <section>
    <h2 id="override-variations-country">Override Variations Country</h2>
    <p id="country-override"></p>
  </section>
  <section>
    <h2 id="override-recent-target">
      Override <code>translate_recent_target</code>
    </h2>
    <p id="recent-override"></p>
  </section>
</div>
